
<form name="editForm" role="form" novalidate show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myPromoLabel">Liste des Matières : {{vm.promo.classe}} {{vm.promo.annee}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">

        <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

            <tr ng-repeat="promoMatiere in $data track by $index" ng-if="promoMatiere.enabled">

                <td data-title="'myApp.promo.matieres' | translate" width="20%">
                    <span class="small">
                       {{promoMatiere.name}}
                    </span>
                </td>

                <td data-title="'myApp.promo.credit' | translate" width="10%">
                    <span class="small">
                       {{promoMatiere.credit}}
                    </span>
                </td>

                <td data-title="'myApp.promo.teachers' | translate" width="20%" >
                    <span ng-repeat="teacher in promoMatiere.teachers" class="small">
                        <span class="form-control-static">{{teacher.name}}</span>{{$last ? '' : ', '}}
                    </span>
                </td>

                <td data-title="''" width="10%" class="text-right">
                    <span class="text-nowrap">
                        <a href="" class="btn btn-light btn-sm" ng-click="vm.openCahierTexteModal(promoMatiere)">
                            <span class="small">Cahier de texte</span>
                        </a>
                    </span>
                </td>

            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Cancel</span>
        </button>
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>-->
    </div>
</form>
