
<form name="editForm" role="form" novalidate show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myPromoLabel">Liste des Etudiants : {{vm.promo.classe}} {{vm.promo.annee}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">
        <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

            <tr ng-repeat="student in $data track by $index">

                <td data-title="'#'" width="5%">
                    <span class="small">
                        {{ ((vm.tableParams.page() - 1) * vm.tableParams.count()) + $index + 1}}
                    </span>
                </td>

                <td data-title="'myApp.student.matricule' | translate" width="10%">
                            <span class="small">
                                {{student.matricule}}
                            </span>
                </td>

                <td data-title="'myApp.student.lastName' | translate" width="10%" sortable="'lastName'">
                    <span class="small">
                       {{student.lastName}}
                    </span>
                </td>

                <td data-title="'myApp.student.firstName' | translate" width="10%" sortable="'firstName'">
                    <span class="small">
                         <span>
                            {{student.firstName}}
                        </span>
                    </span>
                </td>

                <td data-title="''" width="5%" class="text-right">
                    <span class="text-nowrap">
                        <a ui-sref="student-detail({studentId:student.id})" class="btn btn-light btn-sm">
                            <span class="small" translate="entity.action.view"></span>
                        </a>
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Cancel</span>
        </button>
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>-->
    </div>
</form>
