<section class="section-content padding-y-sm spacer" loading="vm.loading">

    <div class="container">

        <header class="section-heading ">
            <div layout="row" layout-align="space-between center">
                <div >
                    <!--<h4 class="title-section bg"><b class="text-uppercase">{{vm.promo.classe}}</b>  </h4>-->
                    <span class="text-uppercase">Liste Définitive</span>
                </div>

                <div>
                    <button class="btn btn-success btn-raised btn-sm" ui-sref="inscription.new">
                        <span>
                            Imprimer
                        </span>
                    </button>
                    &nbsp;
                    <button class="btn btn-success btn-raised btn-sm" ui-sref="inscription.new">
                        <span>
                            Cartes scolaires
                        </span>
                    </button>
                </div>

            </div>
        </header>

        <div class="spacer">
            <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-bordered ">

                <!--<tr>
                    <td data-title="'#'"></td>

                    <td data-title="'myApp.student' | translate" sortable="'student'">
                        <div class="form-group" style="margin:0;">
                            <input type="text" class="form-control"  ng-model="vm.name" my-enter="vm.search()"
                            />
                        </div>
                    </td>

                    <td data-title="'Date de naissance'" ></td>
                    <td data-title="'Lieu'" ></td>
                    <td data-title="'Sexe'" ></td>
                    <td data-title="'Statut'" ></td>
                    <td></td>
                </tr>-->

                <tr ng-repeat="student in $data track by $index">

                    <td data-title="'#'" width="5%">
                            <span class="small">
                                {{ ((vm.tableParams.page() - 1) * vm.tableParams.count()) + $index + 1}}
                            </span>
                    </td>

                    <!-- <td data-title="'myApp.student.createdDate' | translate" sortable="'createdDate'">
                         <span class="small">
                             {{student.createdDate}}
                         </span>
                     </td>-->
                    <td data-title="'Matricule' | translate" width="10%">
                        <span class="small">
                             <span>
                                {{student.matricule}}
                            </span>
                        </span>
                    </td>

                    <td data-title="'myApp.student' | translate"  width="20%">
                        <span class="small">
                             <span>
                                {{student.name}}
                            </span>
                        </span>
                    </td>

                    <td data-title="'Date de naissance'" width="10%">
                        <span class="small">
                           {{student.dateNaissance}}
                        </span>
                    </td>

                    <td data-title="'Age'" width="10%">
                        <span class="small">
                           {{student.age}}
                        </span>
                    </td>

                    <td data-title="'Lieu de naissance'" width="10%">
                            <span class="small">
                               {{student.lieuNaissance}}
                            </span>
                    </td>

                    <td data-title="'Sexe'" width="10%">
                            <span class="small">
                               {{student.sexe}}
                            </span>
                    </td>

                    <td data-title="'Statut'" width="10%">
                            <span class="small">
                               {{student.statut}}
                            </span>
                    </td>

                    <!--<td data-title="'myApp.student.solde' | translate" sortable="'solde'">
                        <strong class="small" ng-class="{'text-success': student.solde > -1, 'text-danger': student.solde < 0}">
                            {{student.solde | currency: '' : 0}} Fcfa
                        </strong>
                    </td>-->


                    <td data-title="''" class="text-right" width="5%">
                            <span class="text-nowrap">
                                <a ui-sref="student-detail({studentId:student.id})" class="btn btn-info btn-sm">
                                    <span>
                                        <span class="small" translate="entity.action.view"></span>
                                    </span>
                                </a>
                                <!--<a ui-sref="student.edit({studentId:student.id, promoId:student.promoId})" class="btn btn-primary btn-sm">
                                    <span>
                                        <span class="small" translate="entity.action.edit"></span>
                                    </span>
                                </a>
                                <a ui-sref="student.delete({studentId:student.id, promoId:student.promoId})" class="btn btn-danger btn-sm">
                                    <span>
                                       <span class="small" translate="entity.action.delete"></span>
                                    </span>
                                </a>-->
                            </span>
                </tr>
            </table>
        </div> <!-- card.// -->

    </div> <!-- container .//  -->

</section>



