<section class="section-content padding-y-sm spacer" loading="vm.loading">

    <div class="container">

        <header class="section-heading ">
            <div layout="row" layout-align="space-between center">
                <div class="form-group" flex-gt-sm="30">
                    <input type="text" class="form-control" placeholder="Rechercher un élève"
                           ng-model="student.lastName"/>
                </div>
                <div layout-gt-sm="row" flex-gt-sm="50">
                    <div layout-gt-sm="row" layout-align="start center" flex-gt-sm="100">
                        <select class="form-control" id="field_note" name="trimestre"
                                ng-model="vm.trimestreId" required
                                ng-change="vm.trimestreChanged()">
                            <option value="">Trimestre</option>
                            <option
                                    value="{{trimestre.id}}"
                                    ng-repeat="trimestre in vm.trimestres">
                                {{trimestre.name}}
                            </option>
                        </select>
                        <span>&nbsp;</span>
                        <select class="form-control" id="field_classe" name="classe"
                                ng-model="vm.matiereId" required
                                ng-change="vm.matiereChanged()"
                                flex-gt-sm="50">
                            <option value="">Matière</option>
                            <option value="{{matiere.id}}"
                                    ng-repeat="matiere in vm.promo.matieres">
                                {{matiere.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </header>



        <div class="spacer">
            <table ng-table="vm.tableParams" class="ng-table-responsive table table-bordered table-condensed">

                <thead>
                <tr class="small">
                    <td>#</td>
                    <td><span translate="myApp.student.matricule">Matricule</span></td>
                    <td><span translate="myApp.student.lastName">Last Name</span></td>
                    <td><span translate="myApp.student.firstName">First Name</span></td>
                    <td ng-repeat="item in vm.trimestre.sequences"  ng-if="vm.matiereId && vm.trimestreId" class="text-center">
                        {{item.name}}&nbsp;
                        <a class="btn btn-light btn-sm" href="" ui-sref="promo-detail.notes.import({promoId:vm.promo.id, trimestreId:vm.trimestreId,  sequenceId:item.id, matiereId:vm.matiereId})">
                            <span class="small">Importer</span>
                        </a>
                    </td>
                    <td width="10%" class="text-center" ng-if="vm.matiereId && vm.trimestreId">

                    </td>
                </tr>
                </thead>
                <tr ng-repeat="student in vm.students | filter:student">

                    <td data-title="'#'" width="5%">
                            <span class="small">
                                {{ ((vm.tableParams.page() - 1) * vm.tableParams.count()) + $index + 1}}
                            </span>
                    </td>

                    <td data-title="'myApp.student.matricule' | translate" width="15%">
                        <span class="small">
                            <a ui-sref="inscription-detail({studentId:student.id, promoId:vm.promo.id})" class="text-info">
                                <span>
                                {{student.matricule}}
                            </span>
                            </a>
                        </span>
                    </td>

                    <td data-title="'myApp.student.lastName' | translate" width="15%">
                        <span class="small">
                            <a ui-sref="inscription-detail({studentId:student.id, promoId:vm.promo.id})" class="text-info">
                                <span>
                                {{student.lastName}}
                            </span>
                            </a>
                        </span>
                    </td>

                    <td data-title="'myApp.student.firstName' | translate" width="15%">
                        <span class="small">
                             <span>
                                {{student.firstName}}
                            </span>
                        </span>
                    </td>

                    <td ng-repeat="sequence in vm.trimestre.sequences track by $index"
                        ng-if="vm.matiereId && vm.trimestreId" class="text-center"
                        data-title="" width="15%">
                        <strong class=""  ng-if="!student.edit"
                                ng-class="{'text-success': student.notes[sequence.id] > vm.matiere.noteSur/2, 'text-danger': student.notes[sequence.id] < vm.matiere.noteSur/2}">
                            {{student.notes[sequence.id] || 'N/A'}}
                        </strong>
                        <span class="small" ng-if="student.edit">
                            <input type="number" step="0.01" class="form-control text-center" ng-model="student.notes[sequence.id]"/>
                        </span>
                        <!--<span class="small" ng-if="student.edit">
                            <input type="number" step="0.01" class="form-control" ng-model="student.notes[item.id]"
                                   ng-model-options="{updateOn: 'blur'}"
                                   ng-change="vm.saveNote(student, item.id)"/>
                        </span>-->
                    </td>

                    <td data-title="''" width="10%" class="text-center" ng-if="vm.matiereId && vm.trimestreId" >
                        <span class="">
                            <a class="" ng-click="student.edit = !student.edit" ng-if="!student.edit">
                                <span>
                                    <span class="small text-info" translate="entity.action.edit"></span>
                                </span>
                            </a>
                            <a class="" ng-if="student.edit" ng-click="vm.saveNotes(student)">
                                <span>
                                   <span class="small text-success" translate="entity.action.save"></span>
                                </span>
                            </a>
                            <a class="" ng-if="student.edit" ng-click="student.edit = !student.edit">
                                <span>
                                   <span class="small text-danger" translate="entity.action.cancel"></span>
                                </span>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="spacer"></div>
</section>
