
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myAnneeLabel" data-translate="myApp.annee.home.configLabel"
            translate-values="{annee: '{{vm.annee.label}}'}">Config Annee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">

        <p>Liste des classes</p>

        <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

            <tr ng-repeat="promo in $data track by $index">

                <td data-title="'myApp.classe.label' | translate" width="15%">
                    <span class="small">
                       {{promo.classe}}
                    </span>
                </td>


                <td data-title="'myApp.classe.active' | translate" width="10%">
                    <span ng-class="{'badge-success': promo.enabled, 'badge-danger': !promo.enabled}"
                          class="badge clickable" ng-click="vm.updateEnabled(promo)">
                        <span ng-if="promo.enabled" translate="myApp.classe.yes"></span>
                        <span ng-if="!promo.enabled" translate="myApp.classe.no"></span>
                    </span>
                </td>

                <td width="15%" class="">
                    <input type="text" class="form-control" name="name" id=""
                           ng-if="promo.active"
                           ng-model="promo.montantScolarite"/>
                </td>

                <td width="15%" >
                    <span class="text-nowrap">
                        <a ui-sref="promo.set-active({promoId:promo.id})" class="">
                            <span>
                                <span class="small text-primary">Matières</span>
                            </span>
                        </a>
                    </span>
                </td>

                <!--<td width="10%" class="text-right">
                    <span class="text-nowrap">
                        <a ui-sref="promo.delete({promoId:promo.id})" class="">
                            <span>
                               <span class="small text-danger" translate="entity.action.delete"></span>
                            </span>
                        </a>
                    </span>
                </td>-->
            </tr>
        </table>

        <!--<div>
            <form novalidate >
                <h4>Classes Available</h4>
                <div class="checkbox">
                    <input type="checkbox" name="classe" id="chk-all" ng-model="vm.selectAllClasses" ng-change="toggleAllClasses()">
                    <label for="chk-all">Selectionnez tout</label>
                </div>
                <div class="checkbox checkbox-inline col-sm-4" ng-repeat="promo in vm.promos track by promo.id">
                    <input type="checkbox" name="promo" id="chk-{{promo.id}}" ng-model="options[$index]" ng-value="promo" ng-change="toggleCurrency($index)">
                    <label for="chk-{{promo.id}}">{{currency.symbol}}</label>
                </div>
            </form>
        </div>-->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</form>
