
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h6 class="modal-title" id="myPromoLabel" data-translate="myApp.promo.home.editMontantScolariteLabel">Create or edit a Promo</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">

        <div>
            <div class="form-group">
                <label class="control-label" translate="myApp.promo.montantScolarite" for="field_montantScolarite">MontantScolarite</label>
                <input type="number" class="form-control" name="name" id="field_montantScolarite"
                       ng-model="vm.promo.montantScolarite"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
