
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myPromoLabel">Liste des Matières : {{vm.promo.classe}} {{vm.promo.annee}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">

        <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

            <tr ng-repeat="promoMatiere in $data track by $index">

                <td data-title="'myApp.promo.matieres' | translate" width="15%">
                    <span class="small">
                       {{promoMatiere.name}}
                    </span>
                </td>


                <td data-title="'myApp.promo.active' | translate" width="10%">
                    <span ng-class="{'badge-success': promoMatiere.enabled, 'badge-danger': !promoMatiere.enabled}"
                          class="badge clickable" ng-click="vm.updateEnabled(promoMatiere)">
                        <span ng-if="promoMatiere.enabled" translate="myApp.promo.yes"></span>
                        <span ng-if="!promoMatiere.enabled" translate="myApp.promo.no"></span>
                    </span>
                </td>

                <td data-title="'myApp.promo.credit' | translate" width="10%">
                    <input type="text" min="0" step="1" class="form-control" name="credit"
                           ng-if="promoMatiere.enabled"
                           ng-model="promoMatiere.credit"
                           ng-model-options="{updateOn: 'blur'}"
                           ng-change="vm.update(promoMatiere)"
                    />
                </td>

                <td data-title="'myApp.promo.coef' | translate" width="10%">
                    <input type="text" min="0" step="1" class="form-control" name="coef"
                           ng-if="promoMatiere.enabled"
                           ng-model="promoMatiere.coef"
                           ng-model-options="{updateOn: 'blur'}"
                           ng-change="vm.update(promoMatiere)"
                    />
                </td>

                <td data-title="'myApp.promo.teachers' | translate" width="20%" >
                    <span ng-if="promoMatiere.enabled">
                        <span ng-repeat="teacher in promoMatiere.teachers" class="small" ng-if="promoMatiere.enabled">
                            <span class="form-control-static">{{teacher.name}}</span>{{$last ? '' : ', '}}
                        </span>
                        <span>&nbsp;</span>
                        <!--<a ui-sref="annee-detail.matieres.enseignants({promoId:vm.promo.id, matiereId:promoMatiere.matiereId})" class="">
                                [ <span class="small text-primary">Modifier</span> ]
                        </a>-->
                        <a ng-click="vm.openTeacherModal(promoMatiere)" class="btn btn-light btn-sm">
                            <span class="small">Modifier</span>
                        </a>
                    </span>
                </td>

                <!--<td data-title="'myApp.promo.notes' | translate" width="20%" >-->
                    <!--<span ng-if="promoMatiere.enabled">-->
                        <!--<span ng-repeat="item in promoMatiere.promoMatiereNoteInters" class="small">-->
                            <!--<span class="form-control-static">{{item.note}} - {{item.noteInter}}</span>{{$last ? '' : ', '}}-->
                        <!--</span>-->
                        <!--<span>&nbsp;</span>-->
                        <!--<a ng-click="vm.openNotesModal(promoMatiere)" class="btn btn-light btn-sm">-->
                                <!--<span class="small">Modifier</span>-->
                        <!--</a>-->
                    <!--</span>-->
                <!--</td>-->
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
        </button>
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>-->
    </div>
</form>
