
<form name="editForm" role="form" novalidate ng-submit="vm.saveNoteInter()" show-validation>

    <div class="modal-header">
        <h6 class="modal-title" id="myNoteInterLabel">Configurer les notes pour {{vm.promoMatiere.name}} {{vm.promoMatiere.classe}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear2()">&times;</button>
    </div>
    <div class="modal-body">

        <!--<div layout-padding layout="row" layout-wrap>
            <div class="custom-control col-md-8 custom-checkbox" ng-repeat="noteInter in vm.noteInters track by noteInter.id">
                <input type="checkbox" class="custom-control-input" id="chk-{{noteInter.id}}" name="example1"
                       ng-model="noteInter.selected"
                       ng-change="vm.toggleNoteInter(noteInter)">
                <label class="custom-control-label" for="chk-{{noteInter.id}}">{{noteInter.note}} - {{noteInter.name}}</label>
            </div>
        </div>-->

        <table class="table table-condensed table-striped">

            <tr ng-repeat="noteInter in vm.noteInters track by $index">

                <td data-title="" width="20%">
                    <span class="small">
                       {{noteInter.note}} - {{noteInter.name}}
                    </span>
                </td>


                <td data-title="'myApp.promo.active' | translate" width="10%">
                    <span ng-class="{'badge-success': noteInter.enabledForPromoMatiere, 'badge-danger': !noteInter.enabledForPromoMatiere}"
                          class="badge clickable" ng-click="vm.updateEnabledNoteInter(noteInter)">
                        <span ng-if="noteInter.enabledForPromoMatiere" translate="myApp.promo.yes"></span>
                        <span ng-if="!noteInter.enabledForPromoMatiere" translate="myApp.promo.no"></span>
                    </span>
                </td>

                <td data-title="'myApp.promo.weight' | translate" width="10%">
                    <input type="text" min="0" step="1" class="form-control" name="weight"
                           ng-if="noteInter.enabledForPromoMatiere"
                           ng-model="noteInter.weight" ng-blur="vm.updateNoteInter(noteInter)"
                    />
                </td>
            </tr>
        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
        </button>
    </div>
</form>
