
<form name="editForm" role="form" novalidate ng-submit="vm.change()" show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myAnneeLabel" data-translate="myApp.annee.home.changeLabel">Changement d'année scolaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label" data-translate="myApp.annee.label" for="field_annee">Annee</label>
            <select class="form-control" id="field_annee" name="annee" ng-model="vm.annee"
                    ng-options="annee as annee.label for annee in vm.annees | orderBy:'label'">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.change">Change</span>
        </button>
    </div>
</form>
