

<section class="section-intro bg-img padding-y-sm">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <article class="white text-center">
                <h3 ng-if="! auth.isAuthenticated()">Connectez vous à votre compte</h3>
                <h3  ng-if="auth.isAuthenticated()">Bienvenue <span class="">{{auth.getFirstName()}}</span></h3>
            </article>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
</section>  <!-- section-intro.// -->


<section class="section-content padding-y-sm spacer" ng-if="!auth.isAuthenticated()">
    <div class="container">

        <div class="row d-flex justify-content-center">

            <div class="col-md-6 mx-auto">
                <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
                <div class="alert alert-warning" ng-show="vm.userNotActivated">
                    <strong>Votre compte est en cours de validation !</strong> <br>
                    Veuillez attendre la confirmation d'activation par mail avant de pouvoir vous connecter
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 mx-auto">
            <form class="form" role="form" ng-submit="vm.login()">
                <div class="">
                    <label for="username" data-translate="global.form.email">Login</label>
                    <input type="text" name="username" id="username"
                           required class="form-control"
                           ng-model="vm.credentials.username">
                </div>
                <div class="spacer">
                    <label for="password" data-translate="login.form.password">Password</label>
                    <input type="password" name="password" id="password"
                           required class="form-control"
                           ng-model="vm.credentials.password">
                </div>

                <div class="spacer"></div>
                <button type="submit" ng-disabled="form.$invalid || vm.isSaving" class="btn btn-info" ng-class="{'btn-raised': !form.$invalid}" data-translate="login.form.button">Login</button>
            </form>

            <div class="alert alert-info spacer">
                <a class="alert-link" ui-sref="requestReset" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-info" translate="global.messages.info.register" translate-compile>
                You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
            </div>

        </div>
    </div>
</section>

<section class="section-content padding-y-sm" ng-if="auth.isAuthenticated()">
    <div class="container">

        <div layout="row" layout-align="center center">

            <div layout="row" flex-gt-sm="50" layout-align="center center">
                <div class="list-group text-uppercase" id="list-tab" role="tablist">

                    <a class="list-group-item list-group-item-action spacer" ui-sref="vente.new">
                        Enregistrer une nouvelle vente
                    </a>

                    <a class="list-group-item list-group-item-action spacer" ui-sref="vente">
                        Consulter le journal des ventes
                    </a>

                    <a class="list-group-item list-group-item-action spacer" ui-sref="product">
                        Consulter les informations des produits
                    </a>
                    <a class="list-group-item list-group-item-action spacer" ui-sref="vente.new">
                        Enregistrer une nouvelle vente
                    </a>

                    <a class="list-group-item list-group-item-action spacer" ui-sref="vente">
                        Consulter le journal des ventes
                    </a>

                    <a class="list-group-item list-group-item-action spacer" ui-sref="product">
                        Consulter les informations des produits
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>