<style>
body{
<!--background-color: #f8f8f8 !important;-->
overflow:auto;
}
</style>


<div layout="column" class="" style="display:flex; flex:1; padding:5px; height:95%;">
    <div class="container col-md-10 offset-md-1" layout="column" style="flex: 1;">
        <div class="spacer"></div>
        <header class="section-heading " loading="vm.loading">
            <div>
                <div layout="row" layout-align="space-between start">
                    <h4 class="text-uppercase">{{vm.contact.vehicle}}</h4>
                    <div layout="row">
                        <a href="" class="btn btn-primary btn-sm" data-toggle="tooltip" title="List view"
                           ng-click="$root.view = 'list'">
                            <i class="fa fa-bars"></i>
                            <span hide-sm hide-xs>Affichage Liste</span>
                        </a>
                        <span>&nbsp;</span>
                        <a href="" class="btn btn-success btn-sm" data-toggle="tooltip" title="Map view"
                           ng-click="vm.showMap()">
                            <i class="fa fa-map"></i>
                            <span hide-sm hide-xs>Affichage Carte</span>
                        </a>
                    </div>
                </div>
                <div hide-gt-sm style="margin-top:10px;"></div>
                <h5 class="text-muted">
                    Historique du
                    <span class="text-info"><span>{{vm.currentDateFrom | date : 'dd/MM/yyyy à HH:mm'}}</span></span>
                    au
                    <span class="text-info"><span>{{vm.currentDateTo | date : 'dd/MM/yyyy à HH:mm'}}</span></span>
                    <a href="" class="btn btn-warning btn-sm" ng-click="vm.openDateModal()"><span>Modifier les dates</span></a>
                </h5>

                <script type="text/ng-template" id="dateModal.html" >
                    <form  role="form" ng-submit="vm.searchByDate()">
                        <div class="modal-body" layout-padding>
                            <div class="">
                                <div uib-alert class="alert alert-danger" close="vm.closeAlert()" ng-show="vm.errorDateFromNotValid">
                                    <span>La date min est invalide !</span>
                                </div>

                                <div uib-alert class="alert-danger" close="vm.closeAlert()" ng-show="vm.errorDateToNotValid">
                                    <span>La date max est invalide !</span>
                                </div>

                                <div uib-alert class="alert-danger" close="vm.closeAlert()" ng-show="vm.errorToBeforeFrom">
                                    <span>Vérifiez les dates !</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="control-label" >Du :</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text"
                                           ui-mask="99/99/9999" ui-options="{{options | json}}"
                                           model-view-value="{{modelViewValue}}"
                                           ng-model="vm.dateFrom" placeholder="jj/mm/yyyy"
                                           ui-mask-placeholder ui-mask-placeholder-char=""
                                           class="form-control"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text"
                                           ui-mask="99:99" ui-options="{{options | json}}"
                                           model-view-value="{{modelViewValue}}"
                                           ng-model="vm.hourFrom" placeholder="HH:mm"
                                           ui-mask-placeholder ui-mask-placeholder-char=""
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="control-label" >Au :</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text"
                                           ui-mask="99/99/9999" ui-options="{{options | json}}"
                                           model-view-value="{{modelViewValue}}"
                                           ng-model="vm.dateTo" placeholder="jj/mm/yyyy"
                                           ui-mask-placeholder ui-mask-placeholder-char=""
                                           class="form-control"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text"
                                           ui-mask="99:99" ui-options="{{options | json}}"
                                           model-view-value="{{modelViewValue}}"
                                           ng-model="vm.hourTo" placeholder="HH:mm"
                                           ui-mask-placeholder ui-mask-placeholder-char=""
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="vm.closeModal()">
                                <span translate="entity.action.cancel"> cancel</span>
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <span translate="entity.action.submit"> Submit</span>
                            </button>
                        </div>
                    </form>
                </script>
            </div>
        </header>

        <div class="spacer" ng-show="$root.view == 'list'">
            <div>
                <table ng-table="vm.tableParams" class="jh-table table table-condensed table-striped">

                    <tr ng-repeat="location in vm.locations track by location.id">

                        <!--<td data-title="'#'" width="2%">
                    <span class="small">
                        {{ $index + 1}}
                    </span>
                        </td>-->

                        <td data-title="'myApp.contact.location.date' | translate" width="20%" sortable="'date'">
                            <span class="small">
                                <span> {{location.date}}</span>
                            </span>
                        </td>

                        <td data-title="'myApp.contact.location.coords' | translate" width="20%">
                            <span class="small">
                                 <span>
                                    {{location.lat }} - {{location.lng}}
                                </span>
                            </span>
                        </td>

                        <!--<td data-title="'myApp.contact.location.lng' | translate" width="15%">
                    <span class="small">
                         <span>
                            {{location.lng}}
                        </span>
                    </span>
                        </td>-->

                        <td data-title="'myApp.contact.location.speed' | translate" width="15%" sortable="'speed'">
                        <span class="small">
                             <span>
                                {{location.speed || 0 }} km/h
                            </span>
                        </span>
                        </td>

                        <td width="10%" class="text-right">
                            <span class="text-nowrap">
                                <a href="" ng-click="vm.openLocationModal(location)" class="btn btn-info btn-sm">
                                    <span>
                                        <span class="" translate="entity.action.view"></span>
                                    </span>
                                </a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="alert alert-info text-center" ng-if="!vm.locations.length && !vm.loading">
                <span>Aucune position n'a été trouvée entre le
                    <span class="text-info"><span>{{vm.currentDateFrom | date : 'dd MMM yyyy à HH:mm'}}</span></span>
                    et le
                    <span class="text-info"><span>{{vm.currentDateTo | date : 'dd MMM yyyy à HH:mm'}}</span></span>
                    <br>
                </span>
                <a href="" class="btn btn-warning btn-sm" ng-click="vm.openDateModal()" style="margin-top:10px;">
                    <span>Modifier les dates</span>
                </a>
            </div>
        </div>


        <div layout="column" ng-show="$root.view == 'map'" style="flex: 1; display: flex; overflow: auto;">
            <div layout="column" style="flex: 1;">
                <leaflet id="route_map" markers="vm.markers" paths="vm.paths"
                         layers="vm.layers" style="flex: 1; min-height:300px"></leaflet>

                <div style="margin-top:10px;"></div>

                <div class="alert alert-info text-center" ng-if="!vm.locations.length && !vm.loading">
                    <span>Aucune position n'a été trouvée entre le
                        <span class="text-info"><span>{{vm.currentDateFrom | date : 'dd MMM yyyy à HH:mm'}}</span></span>
                        et le
                        <span class="text-info"><span>{{vm.currentDateTo | date : 'dd MMM yyyy à HH:mm'}}</span></span>
                        <br>
                    </span>
                    <a href="" class="btn btn-warning btn-sm" ng-click="vm.openDateModal()" style="margin-top:10px;">
                        <span>Modifier les dates</span>
                    </a>
                </div>

            </div>
        </div>

        <!--<div class="text-center">
            <button type="submit"
                    ui-sref="{{vm.previousState}}"
                    class="btn btn-info btn-block">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
            </button>
        </div>-->
    </div>
</div>