<section class="section-content padding-y" loading="vm.loading">

    <div class="container col-md-11 spacer">

        <header class="section-heading ">
            <div layout-gt-sm="row" layout-align="space-between center">
                <div>
                    <h4 class="title-section bg text-uppercase" translate="myApp.contact.home.title">Contacts</h4>
                </div>

                <div>
                    <button class="btn btn-primary btn-raised btn-sm" ui-sref="contact.new">
                            <span translate="myApp.contact.home.createLabel">
                                Create new contact
                            </span>
                    </button>
                </div>
            </div>
        </header>

        <div class="spacer"></div>

        <div layout-gt-sm="row" layout-align="space-between center">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Nombre de contacts par page </label>
                    <span>&nbsp;</span>
                    <select class="form-control" ng-model="vm.count" ng-change="vm.search()">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
            </form>


            <div layout="column">
                <div>
                    <label class="control-label">Nombre de contacts sélectionnés </label>
                    <span>&nbsp;</span>
                    <h1 class="badge badge-success">{{vm.selected.length}}</h1>
                </div>
                <button class="btn btn-success btn-sm btn-raised" ng-disabled="vm.selected.length < 2"
                    ng-click="vm.sendSmsGroup(vm.selected)">
                    <span>
                        Envoyer sms groupé
                    </span>
                </button>
            </div>
        </div>


        <div class="spacer">
            <table ng-table="vm.tableParams" class="ng-table-responsive table table-bordered table-condensed table-striped small">
                <tr>
                    <td data-title="'#'">
                    </td>

                    <!--<td data-title="'myApp.contact.createdDate' | translate" width="10%" sortable="'createdDate'">
                    </td>-->

                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="toggleAll" name="toggleAll"
                                   ng-model="vm.allSelected" ng-change="vm.toggleAll()">
                            <label class="custom-control-label" for="toggleAll"></label>
                        </div>
                    </td>

                    <td data-title="'myApp.contact.civilite' | translate">
                    </td>

                    <td data-title="'myApp.contact.name' | translate" sortable="'name'">
                        <div class="form-group" style="margin:0;">
                            <input type="text" class="form-control"  ng-model="vm.name" my-enter="vm.search()"
                            />
                        </div>
                    </td>

                    <td data-title="'myApp.contact.phone' | translate">
                        <div class="form-group" style="margin:0;">
                            <input type="text" class="form-control"  ng-model="vm.phone" my-enter="vm.search()"
                                   />
                        </div>
                    </td>

                    <td data-title="'myApp.contact.groups' | translate">
                        <div class="form-group" style="margin:0;">
                            <input type="text" class="form-control"  ng-model="vm.group" my-enter="vm.search()"
                            />
                        </div>
                    </td>

                    <td width="10%"></td>
                    <td width="10%"></td>
                </tr>
                <tr ng-repeat="contact in $data track by $index"  ng-class="{active: contact.id === vm.selectedContactId}">
                    <td>
                        <span class="">{{ ((vm.tableParams.page() - 1) * vm.tableParams.count()) + $index + 1}}</span>
                    </td>

                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chk-{{contact.id}}" name="contact"
                                   ng-model="contact.selected" ng-change="vm.toggleContact(contact)">
                            <label class="custom-control-label" for="chk-{{contact.id}}"></label>
                        </div>
                    </td>

                    <td>
                        <span class="">{{contact.civilite}}</span>
                    </td>

                    <td>
                        <span class="">{{contact.name}}</span>
                    </td>

                    <td>
                        <span class="">{{contact.phone}}</span>
                    </td>

                    <td data-title="'myApp.contact.groups' | translate">
                        <span ng-repeat="group in contact.groups" class="">
                            <a href="" class="form-control-static" ng-click="vm.search(group)">{{group}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>


                    <td data-title="''" class="text-right">
                        <span class="text-nowrap">
                            <a href="" ng-click="vm.sendSms(contact)" class="btn btn-success btn-sm">
                                <span>
                                    <span class="">Envoyer sms</span>
                                </span>
                            </a>
                        </span>
                    </td>


                    <td class="text-right">
                    <span class="text-nowrap">
                        <a ui-sref="contact.edit({contactId:contact.id})" class="btn btn-info btn-sm">
                            <span>
                                <span class="small" translate="entity.action.edit"></span>
                            </span>
                        </a>
                        <span> &nbsp;</span>
                        <a ui-sref="contact.delete({contactId:contact.id})" class="btn btn-danger btn-sm">
                            <span>
                               <span class="small" translate="entity.action.delete"></span>
                            </span>
                        </a>
                    </span>
                    </td>
                </tr>
            </table>
        </div> <!-- card.// -->

    </div> <!-- container .//  -->
</section>



