<header class="section-header">
    <nav class="navbar navbar-top navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <!--<li><a href="#" class="nav-link"> <i class="fab fa-facebook"></i> </a></li>
                    <li><a href="#" class="nav-link"> <i class="fab fa-instagram"></i> </a></li>
                    <li><a href="#" class="nav-link"> <i class="fab fa-twitter"></i> </a></li>-->
                    <!--<li><a class="nav-link" ui-sref="product">Produits</a></li>-->
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Catalogue </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a class="dropdown-item" ui-sref="category">Catégories</a></li>
                            <li><a class="dropdown-item" ui-sref="editor">Editeurs</a></li>
                            <li><a class="dropdown-item" ui-sref="collection">Collections</a></li>
                            <li><a class="dropdown-item" ui-sref="product">Livres</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" ui-sref="order">Commandes</a></li>
                    <li><a class="nav-link" ui-sref="user">Clients</a></li>
                    <li><a class="nav-link" ui-sref="stats">Statistiques</a></li>
                </ul>
                <ul class="navbar-nav">
                    <!--<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   Language </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                            <li><a class="dropdown-item" href="#">Russian </a></li>
                        </ul>
                    </li>-->
                    <li><a class="nav-link" ui-sref="home">Retour à la boutique</a></li>
                </ul> <!-- navbar-nav.// -->
            </div> <!-- collapse.// -->
        </div>
    </nav>
</header> <!-- section-header.// -->