<div class="modal-header">
    <ul class="nav nav-pills">
        <li class="nav-item" ng-repeat="ligneTrimestre in vm.students[$index].notes track by $index">
            <a class="nav-link" ng-class="{active: vm.selectedTab == $index}" href=""
               ng-click="vm.tabSelected($index)">{{ligneTrimestre.trimestre}}</a>
        </li>
    </ul>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
</div>
<div class="modal-body" loading="vm.loading">
    <div layout-padding id="doc" print-section>
        <div ng-repeat="ligneTrimestre in vm.ligneTrimestres track by $index"
             style="page-break-after: always;"
             class="spacer">
            <table style="width: 100%;" cellspacing="0" cellpadding="2" border="0">
                <tr style="font-size:10px;">
                    <td width="35%" align="left" style="border: none;text-transform:uppercase;">République du cameroun <br>
                        Paix - Travail - Patrie <br>
                        Ministère des enseignements secondaires <br>
                        Délégation Régionale du Littoral <br>
                        Délégation Départementale du Moungo</td>
                    <td width="30%" align="center" style="border: none;">
                        <p style="font-size:22px;">{{auth.getSchoolName()}}</p>
                        <!--<img ng-src="data:image/JPEG;base64,{{vm.bulletin.logo}}" style="max-height:100px;">-->
                    </td>
                    <td width="35%" align="right" style="border: none; text-transform:uppercase;">Republic of Cameroun <br>
                        Peace - Work - Fatherland <br>
                        Ministry of Secondary Education<br>
                        Littoral Regional Delegation<br>
                        Moungo Divisional Delegation
                    </td>
                </tr>
            </table>

            <table style="margin-top:20px; font-size:small; width: 100%;" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td align="left" style="border: none;">
                        <span style="text-transform: uppercase;">Noms et prénoms : <b>{{vm.students[$index].name}}</b></span>
                    </td>
                    <td align="right" style="border: none;">
                        <span style="text-transform: uppercase;">Année scolaire : <b>{{session.getAnnee().label}}</b></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="border: none;">
                        <span style="text-transform: uppercase;">Date et lieu de naissance : <b ng-if="vm.students[$index].dateNaissance">{{vm.students[$index].dateNaissance}}</b>
                        à <b>{{vm.students[$index].lieuNaissance}}</b>
                        </span>
                    </td>
                    <td align="right" style="border: none;">
                        <span style="text-transform: uppercase;">Classe :<b>{{ligneTrimestre.classe}}</b></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="border: none;">
                <span style="text-transform: uppercase;">Matricule : <b>{{vm.students[$index].matricule}}</b>
                </span>
                    </td>
                    <td align="right" style="border: none;">
                        <span style="text-transform: uppercase;">Sexe :<b>{{vm.students[$index].sexe}}</b></span>
                    </td>
                </tr>
            </table>

            <table style="margin-top:10px; width: 100%; border: 1px solid black;border-collapse: collapse;" cellspacing="0" cellpadding="1" border="1">
                <tr>
                    <td rowspan="2" width="40%" align="left">Matieres d'Enseignement et d'Education</td>
                    <td rowspan="2" width="10%" align="center">Note sur</td>
                    <td align="center" colspan="{{ligneTrimestre.sequences.length + 1}}" width="50%"><b style="text-transform:uppercase">{{ligneTrimestre.trimestre}}</b></td>
                </tr>
                <tr>
                    <td align="center" ng-repeat="sequence in ligneTrimestre.sequences" width="10%">
                        <span>{{sequence.name}}</span></td>
                    <td width="10%" align="center">
                        <span>Note Trim</span>
                    </td>
                </tr>

                <tbody ng-repeat="ligneGroupe in ligneTrimestre.groupes">
                <tr ng-repeat="ligneMatiere in ligneGroupe.matieres track by $index"
                    style="border: 1px solid black;">
                    <td >{{ligneMatiere.matiere}}</td>
                    <td align="center">{{ligneMatiere.noteSur}}</td>
                    <!--<td ng-repeat="studentNote in ligneMatiere.notes" align="center">
                        {{studentNote.note}}
                    </td>-->
                    <td ng-repeat="sequence in ligneTrimestre.sequences" align="center">
                        {{vm.getNote(sequence.id, ligneMatiere)}}
                    </td>
                    <td align="center" >{{ligneMatiere.moyenne}}</td>
                </tr>

                <tr style="border: 1px solid black;">
                    <td ><span style="text-transform:uppercase">TOTAL</span></td>
                    <td align="center">{{ligneTrimestre.totalNoteSur}}</td>
                    <td align="center" ng-repeat="sequence in ligneTrimestre.sequences" align="center">
                        {{sequence.totalNotes}}
                    </td>
                    <td align="center">{{ligneTrimestre.totalNotes}}</td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td ><span style="text-transform:uppercase">MOYENNE SEQUENTIELLE</span></td>
                    <td align="center">&nbsp;</td>
                    <td align="center" ng-repeat="sequence in ligneTrimestre.sequences" align="center">
                        {{sequence.moyenne}}
                    </td>
                    <td align="center">{{ligneTrimestre.moyenne}}</td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td ><span style="text-transform:uppercase">RANG DE MERITE</span></td>
                    <td align="center">&nbsp;</td>
                    <td align="center" ng-repeat="sequence in ligneTrimestre.sequences">
                        {{sequence.rang}} / {{sequence.effectif}}
                    </td>
                    <td align="center"><b>{{ligneTrimestre.rang}} / {{ligneTrimestre.effectif}}</b></td>
                </tr>

                <tr>
                    <td colspan="5" align="center"><span style="text-transform:uppercase;"><b>Recapitulatif du {{ligneTrimestre.trimestre}}</b></span></td>
                </tr>
                <!--<tr>
                    <td colspan="5">TOTAL Général :</td>
                </tr>-->
                <tr>
                    <td colspan="5">Moyenne Trimestrielle : <b>{{ligneTrimestre.moyenne}} / 20</b></td>
                </tr>
                <tr>
                    <td colspan="5">Rang Trimestriel : <b>{{ligneTrimestre.rang}} / {{ligneTrimestre.effectif}}</b></td>
                </tr>
                <!--<tr><td colspan="5">NB: le résultat trimestriel est la somme des résulats séquentiels correspondants</td></tr>-->
                </tbody>
            </table>

            <table style="width: 100%; border: 1px solid black;border-collapse: collapse;" cellspacing="0" cellpadding="1" border="1">
                <tr>
                    <td align="center" colspan="4"><b style="text-transform:uppercase">Appréciations {{ligneTrimestre.trimestre}}</b></td>
                </tr>
                <tr>
                    <td width="50%" colspan="2"><b>Discipline</b></td>
                    <td width="50%" colspan="2"><b>Travail</b></td>
                </tr>
                <tr>
                    <td width="35%"><span>Nombre d'absences</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Tableau d'honneur</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="35%"><span>Nombre de retards</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Félicitations</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
                <!--<tr>
                    <td width="35%"><span>Encouragements</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Encouragements</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>-->
                <tr>
                    <td width="35%"><span>Avertissement Conduite</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Avertissement</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="35%"><span>Blâme</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Blâme Travail</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
            </table>

            <table style="width: 100%; border: 1px solid black;border-collapse: collapse;" cellspacing="0" cellpadding="1" border="1">
                <tr>
                    <td width="33%" align="center" style="border-left: 1px solid black;"><b>Observation de l'enseignant</b></td>
                    <td width="33%" align="center" style="border-left: 1px solid black;" ><b>Visa du chef d'Etablissement</b></td>
                    <td width="33%" align="center" style="border-left: 1px solid black;" ><b>Visa des parents</b></td>
                </tr>
                <tr style="border-top: 1px solid black;" border="1">
                    <td style="border-left: 1px solid black;padding:60px;" >&nbsp;</td>
                    <td style="border-left: 1px solid black;padding:60px;" >&nbsp;</td>
                    <td style="border-left: 1px solid black;padding:60px;" >&nbsp;</td>
                </tr>
                <!--<tr>
                    <td width="60%" colspan="2" style="border-right: none; padding:2px"></td>
                    <td width="40%" style="border-left: none;">Fait à Njombé, le :</td>
                </tr>-->
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
    </button>
    <button type="button" ng-disabled="vm.isSaving" class="btn btn-primary"
            ng-click="vm.download()">
        <span>Télécharger</span>
    </button>
    <!--<button type="button" ng-disabled="vm.isSaving" print-avoid-break class="btn btn-primary" >
        <span>Télécharger</span>
    </button>-->
</div>
