<div class="modal-header">
    <ul class="nav nav-pills">
        <li class="nav-item" ng-repeat="ligneTrimestre in vm.student.notes track by $index">
            <a class="nav-link" ng-class="{active: vm.selectedTab == $index}" href=""
               ng-click="vm.tabSelected($index)">{{ligneTrimestre.trimestre}}</a>
        </li>
    </ul>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
</div>
<div class="modal-body" loading="vm.loading">
    <div layout-padding>

        <div class="" id="doc"
             ng-style="{'background-image':'url(data:image/png;base64,{{vm.config.logo}})', 'background-repeat':'no-repeat', 'background-position':'center'}">
             <table style="width: 100%;" cellspacing="1" cellpadding="2" border="0">
                <tr style="font-size:10px;">
                    <td align="left" style="border: none;text-transform:uppercase;">République du cameroun <br>
                        Paix - Travail - Patrie <br>
                        Ministère des enseignements secondaires <br>
                        Délégation Régionale du Littoral <br>
                        Délégation Départementale du Moungo</td>
                    <td align="center" style="border: none;">
                        <img ng-src="data:image/JPEG;base64,{{vm.config.logo}}" style="max-height:100px;">
                    </td>
                    <td align="right" style="border: none; text-transform:uppercase;">Republic of Cameroun <br>
                        Peace - Work - Fatherland <br>
                        Ministry of Secondary Education<br>
                        Littoral Regional Delegation<br>
                        Moungo Divisional Delegation
                    </td>
                </tr>
            </table>
            <table style="font-size:small; width: 100%;" cellspacing="1" cellpadding="0" border="0">
                <tr>
                    <td align="left" style="border: none;">
                        <span style="text-transform: uppercase;">Noms et prénoms : <b>{{vm.student.name}}</b></span>
                    </td>
                    <td align="right" style="border: none;">
                        <span style="text-transform: uppercase;">Année scolaire : <b>{{session.getAnnee().label}}</b></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="border: none;">
                        <span style="text-transform: uppercase;">Date et lieu de naissance : <b ng-if="vm.student.dateNaissance">{{vm.student.dateNaissance}}</b>
                        à <b>{{vm.student.lieuNaissance}}</b>
                        </span>
                    </td>
                    <td align="right" style="border: none;">
                        <span style="text-transform: uppercase;">Classe :<b>{{vm.ligneTrimestre.classe}}</b></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="border: none;">
                        <span style="text-transform: uppercase;">Matricule : <b>{{vm.student.matricule}}</b>
                        </span>
                    </td>
                    <td align="right" style="border: none;">
                        <span style="text-transform: uppercase;">Sexe :<b>{{vm.student.sexe}}</b></span>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; margin-top:10px; border: 1px solid black;border-collapse: collapse;" cellspacing="1" cellpadding="1" border="1">
                <tr>
                    <!--<td rowspan="2" width="10%">Groupe</td>-->
                    <td align="center" rowspan="2" width="15%" align="left">Matières</td>
                    <td align="center" rowspan="2" width="15%" align="left">Enseignant</td>
                    <td rowspan="2" width="5%" align="center">Coef</td>
                    <td align="center" colspan="{{vm.ligneTrimestre.sequences.length + 1}}" width="20%"><b style="text-transform:uppercase">{{vm.ligneTrimestre.trimestre}}</b></td>
                    <td rowspan="2" width="5%" align="center">Rang</td>
                    <td rowspan="2" width="20%" align="center">Appréciations</td>
                </tr>
                <tr>
                    <td align="center" ng-repeat="sequence in vm.ligneTrimestre.sequences" width="10%">
                        <span>{{sequence.name}}</span></td>
                    <td width="7%" align="center">
                        <span>Note Trim</span>
                    </td>
                </tr>

                <tbody ng-repeat="ligneGroupe in vm.ligneTrimestre.groupes track by $index">
                    <tr>
                        <!--<td rowspan="{{ligneGroupe.matieres.length}}">{{ligneGroupe.groupe}}</td>-->
                        <td>{{ligneGroupe.matieres[0].matiere}}</td>
                        <td align="center">{{ligneGroupe.matieres[0].teacher}}</td>
                        <td align="center">{{ligneGroupe.matieres[0].coef}}</td>
                        <td align="center" ng-repeat="studentNote in ligneGroupe.matieres[0].notes">
                            {{studentNote.note}}
                            <!--<span>{{studentNote.grade}}</span>-->
                        </td>
                        <td align="center" >{{ligneGroupe.matieres[0].moyenne}}</td>
                        <td align="center" >{{ligneGroupe.matieres[0].rang}}</td>
                        <td align="center" >{{ligneGroupe.matieres[0].mention}}</td>
                    </tr>

                    <tr ng-repeat="ligneMatiere in ligneGroupe.matieres track by $index" style="border: 1px solid black;"
                        ng-if="$index != 0">
                        <td >{{ligneMatiere.matiere}}</td>
                        <td align="center">{{ligneMatiere.teacher}}</td>
                        <td align="center">{{ligneMatiere.coef}}</td>
                        <!--<td ng-repeat="studentNote in ligneMatiere.notes" align="center">
                            {{studentNote.note}}
                        </td>-->
                        <td ng-repeat="sequence in vm.ligneTrimestre.sequences" align="center">
                            {{vm.getNote(sequence.id, ligneMatiere)}}
                        </td>
                        <td align="center" >{{ligneMatiere.moyenne}}</td>
                        <td align="center" >{{ligneMatiere.rang}}</td>
                        <td align="center" >{{ligneMatiere.mention}}</td>
                    </tr>

                    <!--<tr style="border: 1px solid black;">
                        <td colspan="3"><span style="text-transform:uppercase">Total {{ligneGroupe.groupe}}</span></td>
                        <td align="center">{{ligneGroupe.totalCoef}}</td>
                        <td align="center" ng-repeat="sequence in vm.ligneTrimestre.sequences" align="center">
                            {{sequence.totalNotes}}
                        </td>
                        <td align="center">{{ligneGroupe.totalNotes}}</td>
                    </tr>-->

                    <tr style="border: 1px solid black;" ng-if="ligneGroupe.totalCoef">
                        <td colspan="2"><span style="">Total {{ligneGroupe.groupe}}</span></td>
                        <td align="center">{{ligneGroupe.totalCoef}}</td>
                        <td align="center" ng-repeat="sequence in ligneGroupe.sequences" align="center">
                            {{sequence.totalNotes}}
                        </td>
                        <td align="center">{{ligneGroupe.totalNotes}}</td>
                        <td colspan="2" align="center" >Moyenne : {{ligneGroupe.moyenne}}/20</td>
                    </tr>
                    <!--<tr style="border: 1px solid black;">
                    <td ><span style="text-transform:uppercase">Coefficient</span></td>
                    <td align="center">{{vm.totalNoteSur /20}}</td>
                    <td ng-repeat="totalSequence in vm.ligneTrimestre.sequences" align="center">
                        &nbsp;
                    </td>
                    <td >&nbsp;</td>
                </tr>-->

                </tbody>

                <tr style="border: 1px solid black;">
                    <td colspan="2"><span style="">Moyennes générales</span></td>
                    <td align="center">&nbsp;</td>
                    <td align="center" ng-repeat="sequence in vm.ligneTrimestre.sequences" align="center">
                        <b>{{sequence.moyenne}}</b>
                    </td>
                    <td align="center"><b>{{vm.ligneTrimestre.moyenne}}</b></td>
                </tr>

                <!--<tr style="border: 1px solid black;">
                    <td colspan="3"><span style="text-transform:uppercase">Total Général</span></td>
                    <td align="center">&nbsp;</td>
                    <td align="center" ng-repeat="sequence in vm.ligneTrimestre.sequences" align="center">
                        {{sequence.moyenne}}
                    </td>
                    <td align="center">{{vm.ligneTrimestre.moyenne}}</td>
                </tr>-->
            </table>
            <table style="width: 100%; border: 1px solid black;border-collapse: collapse;" cellspacing="1" cellpadding="1" border="1">
                <tr>
                    <td colspan="4" align="center"><span style="text-transform:uppercase;"><b>Recapitulatif du {{vm.ligneTrimestre.trimestre}}</b></span></td>
                </tr>
                <tr>
                    <td colspan="2">Moyenne Trimestrielle : <b>{{vm.ligneTrimestre.moyenne}} / 20</b></td>
                    <td colspan="2">Moyenne Générale : <b>{{vm.ligneTrimestre.moyenneGenerale}} / 20</b></td>
                </tr>
                <tr>
                    <td colspan="2">Rang Trimestriel : <b>{{vm.ligneTrimestre.rang}} / {{vm.ligneTrimestre.effectif}}</b></td>
                    <td colspan="2"></td>
                </tr>
            </table>
            <table style="width: 100%; border: 1px solid black;border-collapse: collapse;" cellspacing="1" cellpadding="1" border="1">
                <tr>
                    <td align="center" colspan="4"><b style="text-transform:uppercase">Appréciations {{vm.ligneTrimestre.trimestre}}</b></td>
                </tr>
                <tr>
                    <td width="50%" colspan="2"><b>Discipline</b></td>
                    <td width="50%" colspan="2"><b>Travail</b></td>
                </tr>
                <tr>
                    <td width="35%"><span>Nombre d'absences</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Tableau d'honneur</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="35%"><span>Nombre de retards</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Félicitations</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
                <!--<tr>
                    <td width="35%"><span>Encouragements</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Encouragements</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>-->
                <tr>
                    <td width="35%"><span>Avertissement Conduite</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Avertissement</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="35%"><span>Blâme</span></td>
                    <td width="15%">&nbsp;</td>
                    <td width="35%"><span>Blâme Travail</span></td>
                    <td width="15%">&nbsp;</td>
                </tr>
            </table>
            <table style="width: 100%; border: 1px solid black;border-collapse: collapse;" cellspacing="0" cellpadding="5" border="1">
                <tr>
                    <td width="50%" align="center" style="border-left: 1px solid black;" ><b>Observations</b></td>
                    <td width="50%" align="center" style="border-left: 1px solid black;" ><b>Visa du chef d'établissement</b></td>
                </tr>
                <tr style="border-top: 1px solid black;" border="1">
                    <td style="border-left: 1px solid black;padding:60px;" >&nbsp;</td>
                    <td style="border-left: 1px solid black;padding:60px;" >&nbsp;</td>
                </tr>
                <!--<tr>
                    <td width="40%" colspan="2" style="border-right: none;"></td>
                    <td width="40%" style="border-left: none;">Fait à Njombé, le :</td>
                </tr>-->
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
    </button>
    <button type="button" ng-disabled="vm.isSaving" class="btn btn-primary"
        ng-click="vm.download()">
        <span>Télécharger</span>
    </button>
    <!--<button type="button" ng-disabled="vm.isSaving" print-avoid-break class="btn btn-primary" >
        <span>Télécharger</span>
    </button>-->
</div>