<div class="modal-header">
    <ul class="nav nav-pills">
        <li class="nav-item" ng-repeat="ligneTrimestre in vm.student.notes track by $index">
            <a class="nav-link" ng-class="{active: vm.selectedTab == $index}" href=""
               ng-click="vm.tabSelected($index)">{{ligneTrimestre.trimestre}}</a>
        </li>
    </ul>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
</div>
<div class="modal-body" loading="vm.loading">
    <md-content layout-padding>
        <div class="" id="doc" print-section>
            <span compile-template ng-bind-html="vm.config.bulletin"></span>
        </div>
    </md-content>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
    </button>
    <button type="button" ng-disabled="vm.isSaving" class="btn btn-primary"
        ng-click="vm.download()">
        <span>Télécharger</span>
    </button>
    <!--<button type="button" ng-disabled="vm.isSaving" print-avoid-break class="btn btn-primary" >
        <span>Télécharger</span>
    </button>-->
</div>