
<!--<form name="loginForm" role="form" novalidate ng-submit="vm.login()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="myLoginLabel" data-translate="login.title"> Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row d-flex justify-content-center">

            <div class="col-md-10">
                <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
                <div class="alert alert-warning" ng-show="vm.userNotActivated">
                    <strong>Votre compte est en cours de validation !</strong> <br>
                    Veuillez attendre la confirmation d'activation par mail avant de pouvoir vous connecter
                </div>
            </div>

            <div class="col-lg-10 col-md-10">
                <form class="form" role="form" ng-submit="vm.login()">
                    <div class="mt-10">
                        <label for="username" data-translate="global.form.email">Login</label>
                        <input type="text" name="username" id="username"
                               required class="form-control"
                               ng-model="vm.credentials.username">
                    </div>
                    <div class="mt-10">
                        <label for="password" data-translate="login.form.password">Password</label>
                        <input type="password" name="password" id="password"
                               required class="form-control"
                               ng-model="vm.credentials.password">
                    </div>

                    <div class="spacer"></div>
                    <button type="submit" ng-disabled="form.$invalid || vm.isSaving" class="btn btn-info" ng-class="{'btn-raised': !form.$invalid}" data-translate="login.form.button">Login</button>
                </form>

                <div class="alert alert-info spacer">
                    <a class="alert-link" href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Did you forget your password?</a>
                </div>
                <div class="alert alert-info" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
                </div>

            </div>
        </div>
    </div>
</form>-->


<div class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">

                                <div class="">
                                    <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                                    </div>
                                    <div class="alert alert-warning" ng-show="vm.userNotActivated">
                                        <strong>Votre compte est en cours de validation !</strong> <br>
                                        Veuillez attendre la confirmation d'activation par mail avant de pouvoir vous connecter
                                    </div>
                                </div>

                                <form ng-submit="vm.login()">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Email</label>
                                        <input class="form-control py-4" id="inputEmailAddress" type="text"
                                               placeholder="Enter email address" required
                                               ng-model="vm.credentials.username"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">Password</label>
                                        <input class="form-control py-4" id="inputPassword" type="password"
                                               placeholder="Enter password" required
                                               ng-model="vm.credentials.password"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                            <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="password.html">Forgot Password?</a>
                                        <!--<a class="btn btn-primary" href="index.html">Login</a>-->
                                        <button type="submit" ng-disabled="form.$invalid || vm.isSaving" class="btn btn-primary" ng-class="{'btn-raised': !form.$invalid}" data-translate="login.form.button">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</div>