<section class="section-content padding-y-sm bg" loading="vm.loading">

    <div class="container">

        <header class="section-heading ">
            <div class="row d-flex justify-content-between">
                <div >
                    <h4 class="title-section bg"><b class="text-uppercase">{{vm.group.name}}</b>  </h4>
                    <span class="text-uppercase">Liste des sous-catégories</span>
                </div>

                <div>
                    <button class="btn btn-primary btn-raised btn-sm" ui-sref="group-detail.new-subgroup">
                            <span translate="myApp.group.home.createLabelSub">
                                Create new group
                            </span>
                    </button>
                </div>
            </div>
        </header>

        <div class="card">

            <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

                <tr ng-repeat="subGroup in vm.group.subGroups track by $index">

                    <td data-title="'#'" width="5%">
                    <span class="small">
                        {{ $index + 1}}
                    </span>
                    </td>

                    <td data-title="'myApp.group.name' | translate" width="30%" sortable="'name'">
                    <span>
                        <span> {{subGroup.name}}</span>
                    </span>
                    </td>

                    <td data-title="'myApp.group.nbProducts' | translate" width="15%" sortable="'productIds.length'">
                    <span class="small">
                         <span>
                            {{subGroup.nbProducts || 0 }}
                        </span>
                        <span> &nbsp;</span>
                        <span ng-if="subGroup.nbProducts">
                            <a ui-sref="product({groupName:subGroup.name})"> [<span translate="entity.action.view"></span>] </a>
                        </span>
                    </span>
                    </td>

                    <td data-title="'myApp.group.rank' | translate" width="15%" sortable="'rank'">
                    <span class="small">
                         <span>
                            {{subGroup.rank || 0 }}
                        </span>
                    </span>
                    </td>

                    <td data-title="'myApp.group.enabled' | translate" width="20%">
                        <h1 ng-class="{'badge-success': subGroup.enabled, 'badge-danger': !subGroup.enabled}"
                            class="badge clickable" ng-click="vm.updateSubGroup(subGroup)">
                            <span ng-if="subGroup.enabled" translate="myApp.group.yes"></span>
                            <span ng-if="!subGroup.enabled" translate="myApp.group.no"></span>
                        </h1>
                    </td>
                    <td width="15%">
                    <span class="text-nowrap">
                        <a ui-sref="subGroup-edit({subGroupId:subGroup.id})" class="btn btn-info btn-sm">
                            <span>
                                <span class="" translate="entity.action.edit"></span>
                            </span>
                        </a>
                        <a ui-sref="subGroup-delete({subGroupId:subGroup.id})" class="btn btn-danger btn-sm">
                            <span>
                               <span class="" translate="entity.action.delete"></span>
                            </span>
                        </a>
                    </span>
                    </td>
                </tr>
            </table>

        </div> <!-- card.// -->

        <div class="spacer">
            <button type="submit"
                    ui-sref="group"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
            </button>
        </div>

    </div> <!-- container .//  -->

</section>
