<section class="section-content padding-y-sm bg" loading="vm.loading">

    <div class="container">

        <header class="section-heading ">
            <div class="row d-flex justify-content-between">
                <div >
                    <h4 class="title-section bg"><b class="text-uppercase">{{vm.inscription.name}}</b>  </h4>
                    <span class="text-uppercase">Liste des sous-catégories</span>
                </div>

                <div>
                    <button class="btn btn-primary btn-raised btn-sm" ui-sref="inscription-detail.new-subinscription">
                            <span translate="myApp.inscription.home.createLabelSub">
                                Create new inscription
                            </span>
                    </button>
                </div>
            </div>
        </header>

        <div class="card">

            <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

                <tr ng-repeat="subInscription in vm.inscription.subInscriptions track by $index">

                    <td data-title="'#'" width="5%">
                    <span class="small">
                        {{ $index + 1}}
                    </span>
                    </td>

                    <td data-title="'myApp.inscription.name' | translate" width="30%" sortable="'name'">
                    <span>
                        <span> {{subInscription.name}}</span>
                    </span>
                    </td>

                    <td data-title="'myApp.inscription.nbProducts' | translate" width="15%" sortable="'productIds.length'">
                    <span class="small">
                         <span>
                            {{subInscription.nbProducts || 0 }}
                        </span>
                        <span> &nbsp;</span>
                        <span ng-if="subInscription.nbProducts">
                            <a ui-sref="product({inscriptionName:subInscription.name})"> [<span translate="entity.action.view"></span>] </a>
                        </span>
                    </span>
                    </td>

                    <td data-title="'myApp.inscription.rank' | translate" width="15%" sortable="'rank'">
                    <span class="small">
                         <span>
                            {{subInscription.rank || 0 }}
                        </span>
                    </span>
                    </td>

                    <td data-title="'myApp.inscription.enabled' | translate" width="20%">
                        <h1 ng-class="{'badge-success': subInscription.enabled, 'badge-danger': !subInscription.enabled}"
                            class="badge clickable" ng-click="vm.updateSubInscription(subInscription)">
                            <span ng-if="subInscription.enabled" translate="myApp.inscription.yes"></span>
                            <span ng-if="!subInscription.enabled" translate="myApp.inscription.no"></span>
                        </h1>
                    </td>
                    <td width="15%">
                    <span class="text-nowrap">
                        <a ui-sref="subInscription-edit({subInscriptionId:subInscription.id})" class="btn btn-info btn-sm">
                            <span>
                                <span class="" translate="entity.action.edit"></span>
                            </span>
                        </a>
                        <a ui-sref="subInscription-delete({subInscriptionId:subInscription.id})" class="btn btn-danger btn-sm">
                            <span>
                               <span class="" translate="entity.action.delete"></span>
                            </span>
                        </a>
                    </span>
                    </td>
                </tr>
            </table>

        </div> <!-- card.// -->

        <div class="spacer">
            <button type="submit"
                    ui-sref="inscription"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
            </button>
        </div>

    </div> <!-- container .//  -->

</section>
