<section class="section-content padding-y-sm spacer" loading="vm.loading">

    <div class="container-fluid col-md-11">

        <header class="section-heading ">
            <div layout-gt-sm="row" layout-align="space-between center">
                <div >
                    <h4 class="title-section bg">
                        <span class="text-uppercase">{{vm.inscription.student.name}}</span>
                        <span> - </span>
                        <span class="small text-uppercase">{{vm.inscription.student.classe}}</span>
                    </h4>
                </div>
                <div>

                </div>
            </div>
        </header>

        <div class="spacer">

            <div layout-gt-sm="row" layout-align="space-between">
                <div layout="column" flex-gt-sm="20">
                    <div class="list-group" id="list-tab" role="tablist">

                        <a class="list-group-item list-group-item-action "
                           ng-class="{'active': vm.selected == 0 }" href="" ng-click="vm.selected = 0">Identité</a>

                        <a class="list-group-item list-group-item-action mt-4"
                           ng-class="{'active': vm.selected == 1 }" href="" ng-click="vm.selected = 1">Situation financière</a>

                        <a class="list-group-item list-group-item-action mt-4"
                           ng-class="{'active': vm.selected == 2 }" href="" ng-click="vm.selected = 2">Notes</a>

                        <!--<a class="list-group-item list-group-item-action spacer"
                           ng-class="{'active': vm.selected == 3 }" href="" ng-click="vm.selected = 3">Absences</a>-->

                    </div>
                </div>
                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                <div class="spacer" hide-gt-sm><!-- Spacer //--></div>

                <div flex-gt-sm="80">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 0 }">
                            <md-content layout-padding>
                                <div class="small" loading="vm.loading">
                                    <div class="row" layout="row" layout-align="space-between end">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" translate="myApp.student.lastName" for="field_lastName">Nom</label>
                                            <input type="text" class="form-control" name="lastName" id="field_lastName"
                                                   ng-model="vm.inscription.student.lastName"
                                                   required/>
                                            <div ng-show="editForm.lastName.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                                                    This field cannot be longer than 30 characters.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label" translate="myApp.student.firstName" for="field_firstName">Nom</label>
                                            <input type="text" class="form-control" name="firstName" id="field_firstName"
                                                   ng-model="vm.inscription.student.firstName"/>
                                            <div ng-show="editForm.firstName.$invalid">
                                                <p class="help-block"
                                                   ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                                                    This field cannot be longer than 30 characters.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" layout="column" layout-align="center center">
                                            <label class="control-label" >
                                                <span>Photo</span>
                                                <span>&nbsp;</span>
                                                <a  class="btn btn-outline-primary btn-sm" href=""
                                                    ngf-select="vm.addImage()" ng-model="vm.file" name="file" ngf-pattern="'image/*'"
                                                    ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="50">
                                                    <span class="">{{vm.selectedFile? "modifier" : "choisir"}}</span>
                                                </a>
                                            </label>

                                            <div class="drop-box2 mt-2" ng-if="!vm.selectedFile">
                                            </div>
                                            <div ng-if="vm.selectedFile">
                                                <div class="card drop-box2">
                                                    <img ngf-src="vm.selectedFile" class="img-responsive" width="100%">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" data-translate="myApp.student.sexe" for="field_sexe">Sexe</label>
                                            <select class="form-control" id="field_sexe" name="sexe" ng-model="vm.inscription.student.sexe"
                                                    ng-options="sexe.value as sexe.name for sexe in vm.sexes | orderBy:'name'">
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label">
                                                <span translate="myApp.student.dateNaissance">Date de naissance</span>
                                            </label>
                                            <input type="text"
                                                   ui-mask="99/99/9999" ui-options="{{options | json}}"
                                                   model-view-value="{{modelViewValue}}"
                                                   ng-model="vm.inscription.student.dateNaissance" placeholder="jj / mm / yyyy"
                                                   ui-mask-placeholder ui-mask-placeholder-char=""
                                                   class="form-control"/>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_lieuNaissance">
                                                <span translate="myApp.student.lieuNaissance">Contact Primaire</span>
                                            </label>
                                            <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                                                   ng-model="vm.inscription.student.lieuNaissance"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_nationalite">
                                                <span translate="myApp.student.nationalite">Nationalité</span>
                                            </label>
                                            <input type="text" class="form-control" name="nationalite" id="field_nationalite"
                                                   ng-model="vm.inscription.student.nationalite"/>
                                        </div>

                                        <div class="form-group col-md-4 required">
                                            <label class="control-label" data-translate="myApp.inscription.classe" for="field_classe">Classe</label>
                                            <select class="form-control" id="field_classe" name="classe" ng-model="vm.inscription.promoId" required
                                                    ng-options="promo.id as promo.classe for promo in vm.promos | orderBy:'classe'">
                                            </select>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_matricule">
                                                <span translate="myApp.student.matricule">Matricule</span>
                                            </label>
                                            <input type="text" class="form-control" name="matricule" id="field_matricule"
                                                   ng-model="vm.inscription.student.matricule"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" translate="myApp.student.fatherName" for="field_fatherName">Nom</label>
                                            <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                                                   ng-model="vm.inscription.student.fatherName"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_fatherPhone">
                                                <span translate="myApp.student.fatherPhone">Telephone père</span>
                                            </label>
                                            <input type="text" class="form-control" name="fatherPhone" id="field_fatherPhone"
                                                   ng-model="vm.inscription.student.fatherPhone"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_fatherProfession">
                                                <span>Profession</span>
                                            </label>
                                            <input type="text" class="form-control" name="fatherProfession" id="field_fatherProfession"
                                                   ng-model="vm.inscription.student.fatherProfession"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" translate="myApp.student.motherName" for="field_motherName">Nom</label>
                                            <input type="text" class="form-control" name="motherName" id="field_motherName"
                                                   ng-model="vm.inscription.student.motherName"/>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_motherPhone">
                                                <span translate="myApp.student.motherPhone">Telephone mère</span>
                                            </label>
                                            <input type="text" class="form-control" name="motherPhone" id="field_motherPhone"
                                                   ng-model="vm.inscription.student.motherPhone"/>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="field_motherProfession">
                                                <span>Profession</span>
                                            </label>
                                            <input type="text" class="form-control" name="motherProfession" id="field_motherProfession"
                                                   ng-model="vm.inscription.student.motherProfession"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">
                                                <span translate="myApp.student.otherInfos">OtherInfos</span>
                                            </label>
                                            <textarea class="form-control" ng-model="vm.inscription.student.otherInfos"></textarea>
                                        </div>
                                    </div>

                                    <div class="row mt-10">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-raised"
                                                    data-translate="entity.action.save" ng-click="vm.save()">Save</button>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="alert alert-success" ng-show="vm.saveSuccess">
                                            <strong>Student informations saved!</strong>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </div>

                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 1 }">
                            <div >
                                <div layout-padding>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.student.solde">Solde</span>
                                        <strong flex-gt-sm="60" ng-class="{'text-success': vm.inscription.student.solde > -1, 'text-danger': vm.inscription.student.solde < 0}">
                                            {{vm.inscription.student.solde| currency: '' : 0}} Fcfa
                                        </strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40">Montant Versé</span>
                                        <strong flex-gt-sm="60">{{vm.inscription.student.montantPaye| currency: '' : 0}} Fcfa</strong>
                                    </div>
                                    <!--<div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.student.montantTotal">Montant Total</span>
                                        <strong flex-gt-sm="60">{{vm.inscription.student.montantTotal| currency: '' : 0}} Fcfa</strong>
                                    </div>-->
                                </div>

                                <div layout-padding class="">

                                    <p class="text-uppercase">Historique du solde</p>

                                    <table class="table ng-table-responsive table-condensed table-striped small">
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Classe</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Solde</th>
                                        </tr>
                                        <tr ng-repeat="mouvement in vm.inscription.student.mouvements track by $index">
                                            <td>{{mouvement.type}}</td>
                                            <td>{{mouvement.createdDate}}</td>
                                            <td>{{mouvement.classe}}</td>
                                            <td>{{mouvement.amount | currency: '' : 0}} Fcfa</td>
                                            <td><strong ng-class="{'text-success': vm.getSolde($index) > -1, 'text-danger': vm.getSolde($index) < 0}">
                                                {{vm.getSolde($index) | currency: '' : 0}} Fcfa
                                            </strong>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--<div class="tab-pane fade" ng-class="{'show active': vm.selected == 3 }">
                            <div >
                                <div layout-padding>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40">Nombre d'heures d'absence</span>
                                        <strong flex-gt-sm="60" ng-class="{'text-success': vm.inscription.student.totalAbsences == 0, 'text-danger': vm.inscription.student.totalAbsences > 0}">
                                            {{vm.inscription.student.totalAbsences}} Heures
                                        </strong>
                                    </div>
                                </div>

                                <div layout-padding class="">

                                    <p class="text-uppercase">Liste des absences</p>

                                    <table class="table ng-table-responsive table-condensed table-striped small" ng-if="vm.inscription.student.totalAbsences > 0">
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Matière</th>
                                            <th scope="col">Nb heures</th>
                                        </tr>
                                        <tr ng-repeat="absence in vm.inscription.student.absences track by $index">
                                            <td>{{absence.date}}</td>
                                            <td>{{absence.matiere}}</td>
                                            <td>{{absence.nbHeures}}h</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>-->

                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 2 }">
                            <div layout-padding>
                                <ul class="nav nav-pills">
                                    <li class="nav-item" ng-repeat="ligneTrimestre in vm.inscription.student.notes track by $index">
                                        <a class="nav-link" ng-class="{active: vm.selectedTab == $index}" href=""
                                           ng-click="vm.tabSelected($index)">{{ligneTrimestre.trimestre}}</a>
                                    </li>
                                </ul>
                                <div class="spacer">
                                    <table class="table ng-table-responsive table-condensed table-bordered small">
                                        <tr>
                                            <th scope="col">Matière</th>
                                            <th scope="col" ng-repeat="sequence in vm.ligneTrimestre.sequences">{{sequence.name}}</th>
                                            <th scope="col">Note trimestre</th>
                                            <!--<th scope="col">Coef</th>-->
                                        </tr>

                                        <tbody ng-repeat="ligneGroupe in vm.ligneTrimestre.groupes track by $index">
                                        <!--<tr class="table-active">-->
                                        <!--<td colspan="6">{{ligneGroupe.groupe}}</td>-->
                                        <!--</tr>-->
                                        <tr ng-repeat="ligneMatiere in ligneGroupe.matieres">
                                            <td>{{ligneMatiere.matiere}}</td>
                                            <td ng-repeat="studentNote in ligneMatiere.notes">
                                                <span>{{studentNote.note}}</span>
                                            </td>
                                            <td>{{ligneMatiere.moyenne}}/{{ligneMatiere.noteSur}}</td>
                                            <!--<td>{{ligneMatiere.coef}}</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div layout-padding>
                                    <div layout-gt-sm="row" layout-align="space-between center">
                                        <div>
                                            <span >Moyenne : </span>
                                            <span>&nbsp;</span>
                                            <strong ng-class="{'text-success': vm.ligneTrimestre.moyenne >= 10, 'text-danger': vm.ligneTrimestre.moyenne < 10}">
                                                {{vm.ligneTrimestre.moyenne}}/20
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </md-content>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
</section>

<style>
.list-group-item + .list-group-item {
    border-top-width: 1px;
}
</style>