<section class="section-content padding-y-sm spacer" loading="vm.loading">

    <div class="container-fluid">

        <header class="section-heading ">
            <div layout-gt-sm="row" layout-align="space-between center">
                <div >
                    <h4 class="title-section bg text-uppercase" translate="myApp.inscription.home.title">Inscriptions</h4>
                </div>
                <div layout="column">
                    <div class="form-group form-inline">
                        <label class="control-label">Classe &nbsp;</label>
                        <select class="form-control" id="field_classe" name="classe" ng-model="vm.promoId" required
                                ng-options="promo.id as promo.classe for promo in vm.promos | orderBy:'classe'"
                                ng-change="vm.promoChanged()">
                            <option value="">Toutes les classes</option>
                        </select>
                    </div>
                    <div layout-gt-sm="row" layout-align="end center" ng-if="vm.promoId">
                        <span >Capacité : </span>&nbsp;<span class="badge badge-info">{{vm.promo.capacite}}</span>
                        <span flex="5"></span>
                        <span >Effectif : </span>&nbsp;<span class="badge" ng-class="{'badge-success': vm.promo.capacite > vm.promo.nbStudents, 'badge-danger': vm.promo.capacite < vm.promo.nbStudents}">
                        {{vm.promo.nbStudents || 0}}</span>
                    </div>
                </div>
            </div>

            <div class="spacer" layout-gt-sm="row" layout-align="space-between center">
                <div class="form-group form-inline">
                    <label class="control-label">Rechercher &nbsp;</label>
                    <input type="text" class="form-control" placeholder="matricule, nom ou prénom"
                           ng-model="vm.name" my-enter="vm.tableParams.reload();"/>
                </div>
                <div>
                    <button class="btn btn-primary btn-raised btn-sm" ui-sref="inscription.new">
                            <span>
                                Nouvel élève
                            </span>
                    </button>
                    <!--&nbsp;
                    <button class="btn btn-info btn-raised btn-sm" ui-sref="inscription.new">
                        <span>
                            Réinscription
                        </span>
                    </button>-->
                </div>
            </div>

        </header>

        <div class="spacer">
            <table ng-table="vm.tableParams" class="ng-table-responsive table table-bordered table-condensed table-striped small">

                <tr ng-repeat="inscription in $data track by $index">

                    <td data-title="'#'">
                            <span >
                                {{ ((vm.tableParams.page() - 1) * vm.tableParams.count()) + $index + 1}}
                            </span>
                    </td>

                    <td data-title="'myApp.inscription.createdDate' | translate" sortable="'createdDate'">
                        <span >
                            {{inscription.createdDate}}
                        </span>
                    </td>

                    <td data-title="'myApp.inscription.matricule' | translate">
                        <span >
                             <span>
                                {{inscription.student.matricule}}
                            </span>
                        </span>
                    </td>

                    <td data-title="'myApp.inscription.student' | translate">
                        <span >
                             <span>
                                {{inscription.student.name}}
                            </span>
                        </span>
                    </td>

                    <!--<td data-title="'Date de naissance'" >
                        <span >
                           {{inscription.student.dateNaissance}}
                        </span>
                    </td>-->

                    <!--<td data-title="'myApp.inscription.age' | translate" >
                        <span >
                           {{inscription.student.age}}
                        </span>
                    </td>-->

                    <!--<td data-title="'Lieu de naissance'" >
                        <span >
                           {{inscription.student.lieuNaissance}}
                        </span>
                    </td>-->

                    <td data-title="'Sexe'" >
                        <span >
                           {{inscription.student.sexe}}
                        </span>
                    </td>

                    <td data-title="'myApp.inscription.classe' | translate" >
                        <span >
                           {{inscription.classe}}
                        </span>
                    </td>

                    <td data-title="'Statut'" >
                        <span >
                           {{inscription.student.statut}}
                        </span>
                    </td>

                    <td data-title="'myApp.inscription.montantScolarite' | translate" >
                        <span >
                           {{inscription.montantScolarite | currency : '' : 0}} Fcfa
                        </span>
                    </td>

                    <td data-title="'myApp.inscription.solde' | translate" sortable="'solde'">
                        <strong  ng-class="{'text-success': inscription.solde > -1, 'text-danger': inscription.solde < 0}">
                            {{inscription.solde | currency: '' : 0}} Fcfa
                        </strong>
                    </td>

                    <td data-title="''" class="text-center" width="10%">
                            <span class="text-nowrap">
                                <!--<a ui-sref="inscription.edit({inscriptionId:inscription.id})" class="">
                                    <span>
                                        <span class="small text-info" translate="entity.action.edit"></span>
                                    </span>
                                </a>-->
                                <a ui-sref="inscription.delete({studentId:inscription.studentId, promoId:inscription.promoId})" class="btn btn-danger btn-sm">
                                    <span>
                                       <span class="small">Désinscrire</span>
                                    </span>
                                </a>
                            </span>
                        <!--<div class="dropdown">
                            <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-settings"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item btn-sm" ui-sref="student-detail({studentId:inscription.studentId})" >
                                    <span class="">Fiche élève</span>
                                </a>
                                &lt;!&ndash;<a class="dropdown-item btn-sm" ui-sref="inscription.edit({studentId:inscription.studentId, promoId:inscription.promoId})">
                                    <span class="">Fiche élève</span>
                                </a>&ndash;&gt;
                                <a class="dropdown-item btn-sm" ui-sref="inscription.delete({studentId:inscription.studentId, promoId:inscription.promoId})">
                                    <span class="">Désinscrire</span>
                                </a>
                            </div>
                        </div>-->
                    </td>
                </tr>
            </table>

        </div>
    </div>

</section>


