<section class="section-content padding-y-sm spacer" loading="vm.loading">

    <div class="container col-md-11">

        <header class="section-heading ">
            <div layout-gt-sm="row" layout-align="space-between center">
                <div >
                    <h4 class="title-section bg">
                        <b class="text-uppercase">{{vm.sms.name}}</b>
                        <span> - </span>
                        <span class="small text-uppercase">{{vm.sms.classe}}</span>
                    </h4>
                </div>
                <div>

                </div>
            </div>
        </header>

        <div class="spacer">

            <div layout-gt-sm="row" style="margin-top:40px;" layout-align="space-between">
                <div layout="column" flex-gt-sm="25">
                    <div class="list-group" id="list-tab" role="tablist">

                        <a class="list-group-item list-group-item-action "
                           ng-class="{'active': vm.selected == 0 }" href="" ng-click="vm.selected = 0">Informations personnelles</a>

                        <a class="list-group-item list-group-item-action spacer"
                           ng-class="{'active': vm.selected == 1 }" href="" ng-click="vm.selected = 1">Situation Financière</a>

                        <!--<a class="list-group-item list-group-item-action spacer"
                           ng-class="{'active': vm.selected == 2 }" href="" ng-click="vm.selected = 2">Notes</a>-->

                        <a class="list-group-item list-group-item-action spacer"
                           ng-class="{'active': vm.selected == 3 }" href="" ng-click="vm.selected = 3">Absences</a>

                    </div>
                </div>
                <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
                <div class="spacer" hide-gt-sm><!-- Spacer //--></div>

                <div flex-gt-sm="75">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 0 }">
                            <md-content >
                                <div layout-padding>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.matricule">matricule</span>
                                        <strong flex-gt-sm="60">{{vm.sms.matricule}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.lastName">lastName</span>
                                        <strong flex-gt-sm="60">{{vm.sms.lastName}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.firstName">firstName</span>
                                        <strong flex-gt-sm="60">{{vm.sms.firstName}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.dateNaissance">dateNaissance</span>
                                        <strong flex-gt-sm="60">{{vm.sms.dateNaissance}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.sexe">sexe</span>
                                        <strong flex-gt-sm="60">{{vm.sms.sexe}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.lieuNaissance">lieuNaissance</span>
                                        <strong flex-gt-sm="60">{{vm.sms.lieuNaissance}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.nationalite">nationalite</span>
                                        <strong flex-gt-sm="60">{{vm.sms.nationalite}}</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.cni">cni</span>
                                        <strong flex-gt-sm="60">{{vm.sms.cni}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.phone1">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.phone1">phone1</span>
                                        <strong flex-gt-sm="60">{{vm.sms.phone1}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.phone2">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.phone2">phone2</span>
                                        <strong flex-gt-sm="60">{{vm.sms.phone2}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.email">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.email">email</span>
                                        <strong flex-gt-sm="60">{{vm.sms.email}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.fatherName">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.fatherName">fatherName</span>
                                        <strong flex-gt-sm="60">{{vm.sms.fatherName}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.fatherPhone">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.fatherPhone">fatherPhone</span>
                                        <strong flex-gt-sm="60">{{vm.sms.fatherPhone}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.motherName">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.motherName">motherName</span>
                                        <strong flex-gt-sm="60">{{vm.sms.motherName}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.motherPhone">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.motherPhone">motherPhone</span>
                                        <strong flex-gt-sm="60">{{vm.sms.motherPhone}}</strong>
                                    </div>
                                    <div layout-gt-sm="row" ng-show="vm.sms.otherInformations">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.otherInfos">otherInfos</span>
                                        <strong flex-gt-sm="60">{{vm.sms.otherInformations}}</strong>
                                    </div>
                                </div>
                            </md-content>
                        </div>

                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 1 }">
                            <md-content >
                                <div layout-padding>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.solde">Solde</span>
                                        <strong flex-gt-sm="60" ng-class="{'text-success': vm.sms.solde > -1, 'text-danger': vm.sms.solde < 0}">
                                            {{vm.sms.solde| currency: '' : 0}} Fcfa
                                        </strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.montantAnnuel">Montant Annuel</span>
                                        <strong flex-gt-sm="60">{{vm.sms.montantAnnuel| currency: '' : 0}} Fcfa</strong>
                                    </div>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40" data-translate="myApp.sms.montantTotal">Montant Total</span>
                                        <strong flex-gt-sm="60">{{vm.sms.montantTotal| currency: '' : 0}} Fcfa</strong>
                                    </div>
                                </div>

                                <div layout-padding class="">

                                    <p class="text-uppercase">Historique du solde</p>

                                    <table class="table ng-table-responsive table-condensed table-striped small">
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Classe</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Solde</th>
                                        </tr>
                                        <tr ng-repeat="mouvement in vm.sms.mouvements track by $index">
                                            <td>{{mouvement.type}}</td>
                                            <td>{{mouvement.createdDate}}</td>
                                            <td>{{mouvement.classe}}</td>
                                            <td>{{mouvement.amount | currency: '' : 0}} Fcfa</td>
                                            <td><strong ng-class="{'text-success': vm.getSolde($index) > -1, 'text-danger': vm.getSolde($index) < 0}">
                                                {{vm.getSolde($index) | currency: '' : 0}} Fcfa
                                            </strong>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </md-content>
                        </div>

                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 2 }">
                            <md-content layout-padding>
                                <ul class="nav nav-pills">
                                    <li class="nav-item" ng-repeat="(note, lignesMatieres) in vm.sms.notes track by $index">
                                        <a class="nav-link" ng-class="{active: vm.selectedTab == $index}" href=""
                                           ng-click="vm.tabSelected($index, lignesMatieres)">{{note}}</a>
                                    </li>
                                </ul>
                                <div class="spacer">
                                    <table class="table ng-table-responsive table-condensed table-striped small">
                                        <!--<tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Matière</th>
                                            <th scope="col">Nb heures</th>
                                        </tr>-->
                                        <tr ng-repeat="ligneMatiere in vm.lignesMatieres track by $index">
                                            <td>{{ligneMatiere.matiere}}</td>
                                            <td>
                                                        <span ng-repeat="smsNote in ligneMatiere.notes">
                                                            {{smsNote.noteInter}} : {{smsNote.note}}/20
                                                            {{$last ? '' : ', '}}
                                                        </span>
                                            </td>
                                            <td>{{vm.getNote(ligneMatiere.notes)}}/20</td>
                                            <td>Coef {{ligneMatiere.coef}}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div layout-padding ng-if="vm.getMoyenne()">
                                    <div layout-gt-sm="row">
                                        <span >Moyenne : </span>
                                        <span>&nbsp;</span>
                                        <strong ng-class="{'text-success': vm.getMoyenne() >= 10, 'text-danger': vm.getMoyenne() < 10}">
                                            {{vm.getMoyenne()}}/20
                                        </strong>
                                    </div>
                                </div>
                            </md-content>
                        </div>

                        <div class="tab-pane fade" ng-class="{'show active': vm.selected == 3 }">
                            <md-content >
                                <div layout-padding>
                                    <div layout-gt-sm="row">
                                        <span  flex-gt-sm="40">Nombre d'heures d'absence</span>
                                        <strong flex-gt-sm="60" ng-class="{'text-success': vm.sms.totalAbsences == 0, 'text-danger': vm.sms.totalAbsences > 0}">
                                            {{vm.sms.totalAbsences}} Heures
                                        </strong>
                                    </div>
                                </div>

                                <div layout-padding class="">

                                    <p class="text-uppercase">Liste des absences</p>

                                    <table class="table ng-table-responsive table-condensed table-striped small" ng-if="vm.sms.totalAbsences > 0">
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Matière</th>
                                            <th scope="col">Nb heures</th>
                                        </tr>
                                        <tr ng-repeat="absence in vm.sms.absences track by $index">
                                            <td>{{absence.date}}</td>
                                            <td>{{absence.matiere}}</td>
                                            <td>{{absence.nbHeures}}h</td>
                                        </tr>
                                    </table>
                                </div>
                            </md-content>
                        </div>

                    </div>
                    </md-content>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
</section>