
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="mySmsLabel" data-translate="myApp.sms.home.createOrEditLabel">Create or edit a Sms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>


    <div class="modal-body">

        <div class="alert alert-danger" ng-if="vm.error">
            <span>{{vm.errorMessage}}</span>
        </div>

        <div class="alert alert-success" ng-if="vm.success">
            <span>Envoi du sms réussi !</span>
        </div>

        <div loading="vm.loading"></div>

        <div ng-if="!vm.success" class="small">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" translate="myApp.sms.sender" for="field_sender">Nom</label>
                    <input type="text" class="form-control" name="sender" id="field_sender"
                           ng-model="vm.sms.sender" maxlength="11"
                           required/>
                    <div ng-show="editForm.sender.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="11">
                            This field cannot be longer than 11 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-6" ng-if="!vm.sms.group">
                    <label class="control-label" translate="myApp.sms.recipient">Recipient</label>
                    <!--<input type="text" class="form-control" name="sender" id="field_recipients"
                           ng-model="vm.sms.recipients"
                           required/>-->
                    <input ui-mask="999 99 99 99" ui-options="{{options | json}}" placeholder="Ex: 691 45 23 68"
                           model-view-value="{{modelViewValue}}"
                           ng-model="vm.sms.recipients" placeholder=""
                           ui-mask-placeholder ui-mask-placeholder-char="space"
                           required class="form-control"/>
                </div>
            </div>

            <div class="row" ng-if="vm.sms.group">
                <div class="form-group col-md-12">
                    <label class="control-label">
                        <span translate="myApp.sms.recipients">Recipients</span>
                    </label>
                    <textarea rows="2" class="form-control" ng-model="vm.sms.recipients"></textarea>
                    <p class="text-info text-right" style="margin-bottom:0;">{{ vm.sms.nbRecipients || 0 }} destinataires</p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" data-translate="myApp.sms.smsTemplate" for="field_smsTemplate">SmsTemplate</label>
                    <select class="form-control" id="field_smsTemplate" name="smsTemplate" ng-model="vm.sms.message"
                            ng-options="smsTemplate.message as smsTemplate.title for smsTemplate in vm.smsTemplates">
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">
                        <span translate="myApp.sms.message">Message</span>
                    </label>
                    <textarea rows="5" class="form-control" ng-model="vm.sms.message"></textarea>
                    <p class="text-info text-right" style="margin-bottom:0;">{{ vm.sms.message.length }} : {{ vm.sms.nbPages || 1}} {{ vm.sms.nbPages > 1? 'Messages' : 'Message'}}</p>
                </div>
            </div>


            <!--<div class="row">-->
                <!--<div class="form-group col-md-12">-->
                    <!--<label class="control-label">-->
                        <!--<span>Image-->
                        <!--<a class="btn btn-outline-primary btn-sm"-->
                           <!--ngf-select="vm.addImage()" ng-model="vm.file" name="file" ngf-pattern="'image/*'"-->
                           <!--ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">{{vm.selectedFile? "modifier" : "ajouter"}} </a></span>-->
                    <!--</label>-->
                    <!--<div class="col-md-3">-->
                        <!--<img ngf-src="vm.selectedFile" class="img-responsive" width="100%">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer" ng-if="!vm.success">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Envoyer</span>
        </button>
    </div>
</form>
