<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.newRegistration.title}">Nouveau Membre</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.newRegistration.greeting}">
            Dear Admin
        </p>
        <p th:text="#{email.newRegistration.text1}">
            Un nouveau membre vient de créer son compte sur la plateforme
        </p>
        <p>
            <span th:text="#{email.newRegistration.name(${user.nom})}"></span>
            <br/>
            <span th:text="#{email.newRegistration.email(${user.email})}"></span>
        </p>
        <p>
            <span th:text="#{email.newRegistration.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Myschool.</em>
        </p>
    </body>
</html>
