<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.transaction.title}">Myschool transaction</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.transaction.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.transaction.text1(${transaction.pricePlanName})}">
            You have just subscribed to our Basic offer, we are very grateful
        </p>
        <p>
            <span th:text="#{email.transaction.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Myschool.</em>
        </p>
    </body>
</html>
