<!-- ========================= FOOTER ========================= -->
<!--<footer class="section-footer bg2">
    <div class="container">
        <section class="footer-bottom row">
            <div class="col-sm-6">
                <p> Made with <3 <br>  by Huruspace.</p>
            </div>
            <div class="col-sm-6">
                <p class="text-sm-right">
                    Copyright &copy 2019 <br>
                </p>
            </div>
        </section> &lt;!&ndash; //footer-top &ndash;&gt;
    </div>&lt;!&ndash; //container &ndash;&gt;
</footer>-->
<!-- ========================= FOOTER END // ========================= -->

<div class="container-fluid my-auto">
    <div class="copyright text-center my-auto">
        <span>Copyright © Myschool 2019</span>
    </div>
</div>