<form name="deleteForm" ng-submit="vm.confirmDelete(vm.student.id)">
    <div class="modal-header">
        <h4 class="modal-title" data-translate="entity.delete.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">
        <p class="alert alert-info" ng-if="!vm.student.deletable"> Impossible de supprimer cet étudiant ! Supprimez d'abord toutes ses inscriptions</p>
        <p ng-if="vm.student.deletable" data-translate="myApp.student.delete.question" translate-values="{id: '{{vm.student.name}}'}">Are you sure you want to delete this Student?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger" ng-if="vm.student.deletable">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
