
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myStudentLabel" data-translate="myApp.student.home.createOrEditLabel">Create or edit a Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>


    <div class="modal-body" layout-padding>

        <div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" translate="myApp.student.lastName" for="field_lastName">Nom</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           ng-model="vm.student.lastName"
                           required/>
                    <div ng-show="editForm.lastName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                            This field cannot be longer than 30 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" translate="myApp.student.firstName" for="field_firstName">Nom</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           ng-model="vm.student.firstName"/>
                    <div ng-show="editForm.firstName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                            This field cannot be longer than 30 characters.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" data-translate="myApp.student.sexe" for="field_sexe">Sexe</label>
                    <select class="form-control" id="field_sexe" name="sexe" ng-model="vm.student.sexe"
                            ng-options="sexe.value as sexe.name for sexe in vm.sexes | orderBy:'name'">
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">
                        <span translate="myApp.student.dateNaissance">Date de naissance</span>
                    </label>
                    <input type="text"
                           ui-mask="99/99/9999" ui-options="{{options | json}}"
                           model-view-value="{{modelViewValue}}"
                           ng-model="vm.student.dateNaissance" placeholder="jj / mm / yyyy"
                           ui-mask-placeholder ui-mask-placeholder-char=""
                           class="form-control"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="field_lieuNaissance">
                        <span translate="myApp.student.lieuNaissance">Contact Primaire</span>
                    </label>
                    <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                           ng-model="vm.student.lieuNaissance"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" for="field_nationalite">
                        <span translate="myApp.student.nationalite">Nationalité</span>
                    </label>
                    <input type="text" class="form-control" name="nationalite" id="field_nationalite"
                           ng-model="vm.student.nationalite"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="field_cni">
                        <span translate="myApp.student.cni">Cni</span>
                    </label>
                    <input type="text" class="form-control" name="cni" id="field_cni"
                           ng-model="vm.student.cni"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="field_matricule">
                        <span translate="myApp.student.matricule">Matricule</span>
                    </label>
                    <input type="text" class="form-control" name="matricule" id="field_matricule"
                           ng-model="vm.student.matricule"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" for="field_phone1">
                        <span translate="myApp.student.phone1">Contact Primaire</span>
                    </label>
                    <input type="text" class="form-control" name="phone1" id="field_phone1"
                           ng-model="vm.student.phone1"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="field_phone2">
                        <span translate="myApp.student.phone2">Contact Secondaire</span>
                    </label>
                    <input type="text" class="form-control" name="phone2" id="field_phone2"
                           ng-model="vm.student.phone2"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="field_email">
                        <span translate="myApp.student.email">EMAIL</span>
                    </label>
                    <input type="email" class="form-control" name="email" id="field_email"
                           ng-model="vm.student.email"/>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" translate="myApp.student.fatherName" for="field_fatherName">Nom</label>
                    <input type="text" class="form-control" name="fatherName" id="field_fatherName"
                           ng-model="vm.student.fatherName"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" translate="myApp.student.motherName" for="field_motherName">Nom</label>
                    <input type="text" class="form-control" name="motherName" id="field_motherName"
                           ng-model="vm.student.motherName"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" for="field_fatherPhone">
                        <span translate="myApp.student.fatherPhone">Telephone père</span>
                    </label>
                    <input type="text" class="form-control" name="fatherPhone" id="field_fatherPhone"
                           ng-model="vm.student.fatherPhone"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label" for="field_motherPhone">
                        <span translate="myApp.student.motherPhone">Telephone mère</span>
                    </label>
                    <input type="text" class="form-control" name="motherPhone" id="field_motherPhone"
                           ng-model="vm.student.motherPhone"/>
                </div>
            </div>

            <!--<div class="row d-flex justify-content-between">
                <div class="form-group col-md-4">
                    <label class="control-label" for="field_auteur">
                        <span translate="myApp.student.auteur">Auteur</span>
                    </label>
                    <input type="text" class="form-control" name="auteur" id="field_auteur"
                           ng-model="vm.student.auteur"/>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label"  for="field_editor">
                        <span data-translate="myApp.student.editor">Editor</span>
                        <span> &nbsp;</span>
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.addEditor()">
                            <span class="fa fa-plus"></span>
                        </button>
                    </label>
                    <select class="form-control" id="field_editor" name="editor" ng-model="vm.student.editorId"
                            ng-options="editor.id as editor.name for editor in vm.editors | orderBy:'name'" required>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label"  for="field_collection">
                        <span data-translate="myApp.student.collection">collection</span>
                        <button type="button" class="btn btn-default btn-sm" ng-click="vm.addCollection()">
                            <span class="fa fa-plus"></span>
                        </button>
                    </label>
                    <select class="form-control" id="field_collection" name="collection" ng-model="vm.student.collectionId"
                            ng-options="collection.id as collection.name for collection in vm.collections | orderBy:'name'">
                        <option value=""></option>
                    </select>
                </div>
            </div>-->

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">
                        <span translate="myApp.student.otherInfos">OtherInfos</span>
                    </label>
                    <textarea class="form-control" ng-model="vm.student.otherInfos"></textarea>
                </div>
            </div>


            <!--<div class="row">-->
                <!--<div class="form-group col-md-12">-->
                    <!--<label class="control-label">-->
                        <!--<span>Image-->
                        <!--<a class="btn btn-outline-primary btn-sm"-->
                           <!--ngf-select="vm.addImage()" ng-model="vm.file" name="file" ngf-pattern="'image/*'"-->
                           <!--ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">{{vm.selectedFile? "modifier" : "ajouter"}} </a></span>-->
                    <!--</label>-->
                    <!--<div class="col-md-3">-->
                        <!--<img ngf-src="vm.selectedFile" class="img-responsive" width="100%">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
