<section class="section-content padding-y-sm spacer" loading="vm.loading">

    <div class="container-fluid col-md-11">

        <header class="section-heading ">
            <div layout-gt-sm="row" layout-align="space-between center">
                <div >
                    <h4 class="title-section bg text-uppercase" translate="myApp.student.home.title">Students</h4>
                </div>


                <div layout-gt-sm="row">
                    <div layout-gt-sm="row" layout-align="space-between center">

                        <select class="form-control" id="field_classe" name="classe" ng-model="vm.promoId" required
                                ng-options="promo.id as promo.classe for promo in vm.promos | orderBy:'classe'"
                                ng-change="vm.tableParams.reload()">
                            <option value="">Toutes les classes</option>
                        </select>
                    </div>

                    <!--<button class="btn btn-success btn-raised btn-sm">
                        <span>
                            Télécharger
                        </span>
                    </button>-->
                </div>
            </div>
        </header>

        <div class="spacer">
            <div class="">

                <table ng-table="vm.tableParams" class="ng-table-responsive table table-condensed table-striped">

                    <tr ng-repeat="student in $data track by $index">

                        <td data-title="'#'">
                            <span class="small">
                                {{ ((vm.tableParams.page() - 1) * vm.tableParams.count()) + $index + 1}}
                            </span>
                        </td>

                        <td data-title="'myApp.student.matricule' | translate">
                            <span class="small">
                                {{student.matricule}}
                            </span>
                        </td>

                        <td data-title="'myApp.student.lastName' | translate" sortable="'lastName'">
                            <span class="small">
                               {{student.lastName}}
                            </span>
                        </td>

                        <td data-title="'myApp.student.firstName' | translate" sortable="'firstName'">
                        <span class="small">
                             <span>
                                {{student.firstName}}
                            </span>
                        </span>
                        </td>

                        <td data-title="'myApp.student.classe' | translate">
                            <!--<span class="small">
                               <a ui-sref="classe-detail({classeId:student.classeId})">{{student.classe}}</a>
                            </span>-->
                            <span class="small">
                               {{student.classe}}
                            </span>
                        </td>

                        <td data-title="'myApp.student.montantAnnuel' | translate">
                            <span class="small">
                               {{student.montantAnnuel | currency: '' : 0}} Fcfa
                            </span>
                        </td>

                        <!--<td data-title="'myApp.student.montantTotal' | translate">
                            <span class="small">
                               {{student.montantTotal | currency: '' : 0}} Fcfa
                            </span>
                        </td>-->

                        <td data-title="'myApp.student.solde' | translate" sortable="'solde'">
                            <strong class="small" ng-class="{'text-success': student.solde > -1, 'text-danger': student.solde < 0}">
                               {{student.solde | currency: '' : 0}} Fcfa
                            </strong>
                        </td>


                        <td data-title="''" class="text-right">
                            <span class="text-nowrap">
                                <a ui-sref="student-detail({studentId:student.id})" class="btn btn-primary btn-sm">
                                    <span>
                                        <span class="small" translate="entity.action.view"></span>
                                    </span>
                                </a>
                                <span>&nbsp;</span>
                                <a ui-sref="student.edit({studentId:student.id})" class="btn btn-info btn-sm">
                                    <span>
                                        <span class="small" translate="entity.action.edit"></span>
                                    </span>
                                </a>
                                <span>&nbsp;</span>
                                <a ui-sref="student.delete({studentId:student.id})" class="btn btn-danger btn-sm" ng-if="student.deletable">
                                    <span>
                                       <span class="small" translate="entity.action.delete"></span>
                                    </span>
                                </a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>


