<!-- Navbar -->
<div ng-include="'app/layouts/navbar/navbar.html'"></div>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--<div class="sb-sidenav-menu-heading">Core</div>-->
                    <!--<div class="spacer"></div>-->
                    <a class="nav-link " ui-sref="home">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                        Accueil
                    </a>

                    <a class="nav-link" ui-sref="inscription">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                        <span>Inscriptions</span>
                    </a>


                    <a class="nav-link " ui-sref="reglement">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                        <span>Paiements</span></a>


                    <a class="nav-link " ui-sref="promo">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                        <span>Classes</span></a>

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts"
                       ng-click="vm.collapseSms = !vm.collapseSms">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
                        Sms
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="" aria-labelledby="headingOne" data-parent="#sidenavAccordion" ng-show="vm.collapseSms">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link test" ui-sref="parent">Parents d'élèves</a>
                            <a class="nav-link test" ui-sref="group">Groupes de contacts</a>
                            <a class="nav-link test" ui-sref="contact">Contacts</a>
                            <a class="nav-link test" ui-sref="sms">Sms Envoyés</a>
                            <a class="nav-link test" ui-sref="smsTemplate">Sms Templates</a>
                        </nav>
                    </div>


                    <!--<a class="nav-link " ui-sref="etablissement">
                        &lt;!&ndash;<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>&ndash;&gt;
                        <span>Configuration</span>
                    </a>-->

                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <ui-view></ui-view>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<style>
.test {
    display: flex;
    align-items: center;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    position: relative;
}
</style>