<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <span class="text-white">MySchool</span>
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a ui-sref="emploitemps" class="nav-link">
                    <i class="fa fa-dashboard"></i>Emploi de temps
                </a>
            </li>
            <li class="nav-item">
                <a ui-sref="emploitemps" class="nav-link">
                    <i class="fa fa-dashboard"></i> Paiement des vacations
                </a>
            </li>
        </ul>
    </div>
</nav>