
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h5 class="modal-title" id="myReglementLabel" data-translate="myApp.reglement.home.createOrEditLabel">Create or edit a Reglement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>


    <div class="modal-body" layout-padding>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label" data-translate="myApp.reglement.classe" for="field_classe">Classe</label>
                <select class="form-control" id="field_classe" name="classe" ng-model="vm.reglement.promoId" required
                        ng-options="promo.id as promo.classe for promo in vm.promos | orderBy:'classe'"
                        ng-change="vm.promoChanged()">
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label" data-translate="myApp.reglement.student" for="field_student">Student</label>
                <select class="form-control" id="field_student" name="student" ng-model="vm.reglement.studentId" required
                        ng-options="student.id as student.name for student in vm.students | orderBy:'name'">
                </select>
            </div>


        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label" for="field_amount">
                    <span translate="myApp.reglement.amount">Amount</span>
                </label>
                <input type="number" min="0" step="100" class="form-control" name="name" id="field_amount"
                       ng-model="vm.reglement.amount" required/>
            </div>

            <!--<div class="form-group col-md-6">
                <label class="control-label">
                    <span>Justificatif</span>
                    <span>&nbsp;</span>
                    <a class="btn btn-outline-primary btn-sm" href=""
                       ngf-select="vm.addJustificatif()" ng-model="vm.file" name="file" ngf-pattern="'image/*'"
                       accept="'image/*'"
                       ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">{{vm.selectedFile? "modifier" : "ajouter"}} </a>
                </label>
                <div class="spacer">
                    <img ngf-src="vm.selectedFile" class="img-responsive" width="100%">
                    &lt;!&ndash;<embed style="min-height:400px; height:auto; width:100%;" ngf-src="vm.selectedFile" ngf-accept="'.pdf,image/*'">&ndash;&gt;
                </div>
            </div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
