
<section class="section padding-y">

    <div class="container">

        <div layout-gt-sm="row" style="margin-top:40px;" layout-align="space-between">
            <div layout="column" flex-gt-sm="20">
                <div class="list-group" id="list-tab" role="tablist">

                    <a class="list-group-item list-group-item-action "
                       ng-class="{'active': vm.selected == 0 }" href="" ng-click="vm.selected = 0">Mes informations</a>

                    <a class="list-group-item list-group-item-action mt-4"
                       ng-class="{'active': vm.selected == 1 }" href="" ng-click="vm.selected = 1">Mon mot de passe</a>
                </div>
            </div>
            <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
            <div class="spacer" hide-gt-sm><!-- Spacer //--></div>

            <div flex-gt-sm="80">
                <div class="tab-content" id="nav-tabContent">
                    <div class="">
                        <div class="alert alert-success" ng-show="vm.successInfo" data-translate="settings.messages.success">
                            <strong>Settings saved!</strong>
                        </div>
                    </div>
                    <md-content class="tab-pane fade" ng-class="{'show active': vm.selected == 0 }">
                        <div class="" layout="row" layout-align="center">
                            <div class="col-md-10">
                                <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation layout-padding>
                                    <div class="row mt-10 spacer">
                                        <div class="col-md-3">
                                            <label  for="lastName" data-translate="settings.form.lastname">Last Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                                                   ng-model="vm.user.nom" ng-minlength=1 ng-maxlength=50 maxlength="50">
                                            <div ng-show="form.name.$dirty && form.name.$invalid">
                                                <p class="help-block"
                                                   ng-show="form.lastName.$error.required" data-translate="settings.messages.validate.lastName.required">
                                                    Your last name is required.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.name.$error.minlength" data-translate="settings.messages.validate.lastName.minlength">
                                                    Your last name is required to be at least 1 character.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.name.$error.maxlength" data-translate="settings.messages.validate.lastName.maxlength">
                                                    Your last name cannot be longer than 50 characters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-3">
                                            <label  for="firstName" data-translate="settings.form.firstname">First Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                                                   ng-model="vm.user.prenom" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                                            <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                                                <p class="help-block"
                                                   ng-show="form.firstName.$error.required" data-translate="settings.messages.validate.firstname.required">
                                                    Your first name is required.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.firstName.$error.minlength" data-translate="settings.messages.validate.firstname.minlength">
                                                    Your first name is required to be at least 1 character.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.firstName.$error.maxlength" data-translate="settings.messages.validate.firstname.maxlength">
                                                    Your first name cannot be longer than 50 characters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-3">
                                            <label  for="email" data-translate="global.form.email">E-mail</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                                                   ng-model="vm.user.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                                            <div ng-show="form.email.$dirty && form.email.$invalid">
                                                <p class="help-block"
                                                   ng-show="form.email.$error.required" data-translate="global.messages.validate.email.required">
                                                    Your e-mail is required.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.email.$error.email" data-translate="global.messages.validate.email.invalid">
                                                    Your e-mail is invalid.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.email.$error.minlength" data-translate="global.messages.validate.email.minlength">
                                                    Your e-mail is required to be at least 5 characters.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form.email.$error.maxlength" data-translate="global.messages.validate.email.maxlength">
                                                    Your e-mail cannot be longer than 100 characters.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-md-3">
                                            <label  data-translate="myApp.user.phone">Phone Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input ui-mask="999 999 999" ui-options="{{options | json}}"
                                                   model-view-value="{{modelViewValue}}"
                                                   ng-model="vm.user.telephone" placeholder=""
                                                   ui-mask-placeholder ui-mask-placeholder-char="space"
                                                   required class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row mt-10">
                                        <div class="col-md-3">
                                            <label  data-translate="myApp.user.dateNaissance">Date de naissance</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="dateNaissance"
                                                   ui-mask="99/99/9999" ui-options="{{options | json}}"
                                                   model-view-value="{{modelViewValue}}"
                                                   ng-model="vm.user.dateNaissance" placeholder="jj / mm / yyyy"
                                                   ui-mask-placeholder ui-mask-placeholder-char=""
                                                   class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="row mt-10">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-primary btn-raised" data-translate="settings.form.button">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </md-content>

                    <md-content class="tab-pane fade" ng-class="{'show active': vm.selected == 1 }">
                        <div class="">
                            <div class="alert alert-success" ng-show="vm.successPasswd" data-translate="password.messages.success">
                                <strong>Password changed!</strong>
                            </div>
                            <div class="alert alert-danger" ng-show="vm.errorPasswd"  data-translate="password.messages.error">
                                <strong>An error has occurred!</strong> The password could not be changed.
                            </div>

                            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                                The password and its confirmation do not match!
                            </div>
                        </div>
                        <div layout="row" layout-align="center">
                            <div class="col-md-8">
                                <form name="form" role="form" layout-padding novalidate ng-submit="vm.changePassword()"
                                      show-validation>

                                    <div class="mt-10 spacer">
                                        <label  for="password" data-translate="global.form.newpassword">New password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                               ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                                        <div ng-show="form.password.$dirty && form.password.$invalid">
                                            <p class="help-block"
                                               ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                                                Your password is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                                                Your password is required to be at least 4 characters.
                                            </p>
                                            <p class="help-block"
                                               ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                                                Your password cannot be longer than 50 characters.
                                            </p>
                                        </div>
                                        <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                                    </div>
                                    <div class="mt-10">
                                        <label  for="confirmPassword" data-translate="global.form.confirmpassword">New password confirmation</label>
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                                                Your confirmation password is required.
                                            </p>
                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                                                Your confirmation password is required to be at least 4 characters.
                                            </p>
                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                                                Your confirmation password cannot be longer than 50 characters.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="spacer">
                                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-raised"
                                        >Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </md-content>
                </div>
                </md-content>
            </div>
        </div>
    </div>

</section>

<script type="text/ng-template" id="template/pic-modal.html">
    <div class="pic">
        <div class="modal-body">
            <div class="img-group">
                <div layout="row" layout-align="space-between center" layout-padding>
                    <a class="" href="" ng-click="vm.prev(vm.activePhoto)">
                        <i class="fa fa-arrow-left"></i>
                    </a>

                    <img ng-src="data:image/JPEG;base64,{{vm.activePhoto.image}}">

                    <a class="" href="" ng-click="vm.next(vm.activePhoto)">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>

                <button type="button" class="close close-lg" ng-click="vm.ok()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
        </div>
        <div class="text-center">
            <p>{{vm.activePhoto.caption}}</p>
        </div>
    </div>
</script>

<style>
.modal-backdrop.in {
	opacity: .85;
	filter: alpha(opacity=85);
}

.img-group .close {
  color:#fff;
  background-color:#000;
  opacity:1;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
}
.img-group .img-responsive {
  width:100%;
}

@media (min-aspect-ratio: 16/11) {
 .img-group .img-responsive {
    width:auto;
    max-width:70%;
    margin: auto;
  }
  .img-group .close {
    position:absolute;
    z-index:10;
  }
}
</style>